# Big Data Analytics
## Recommendation system using ALS and KNN algorithms

In [14]:
# importing packages
import nltk
import re

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

from nltk.corpus import stopwords 
from nltk.tokenize import WordPunctTokenizer

import time
import math
import json
import os

import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
#Importing the data as a pandas dataframe and printing its shape
import pandas as pd
anime_list = pd.read_csv("/content/AnimeMovies.csv", error_bad_lines=False) 
anime_list.shape

(135201, 2)

In [0]:
anime_list.head(10)

   workId                                          workName
0   22429                                   Itadaki_Seieki♥
1   35366  Eiga_Ensetsu_Seiji_no_Rinrika_Gotou_Shinpei_1926
2   11827     Kuroinu__Kedakaki_Seijo_wa_Hakudaku_ni_Somaru
3    3050                                  Panchira_Teacher
4    3220                           Kanashimi_no_Belladonna
5   38409                                     Cike_Wu_Liuqi
6   18693      Tenioha__Onnanoko_datte_Honto_wa_Ecchi_da_yo
7    3560                                             Karen
8    1639                                      Boku_no_Pico
9    4310                      Joshidai__Ecchi_Soudanshitsu

In [5]:
#Importing the data as a pandas dataframe and printing its shape
import pandas as pd
anime_reviews = pd.read_csv("/content/AnimeRatings.csv", error_bad_lines=False) 
anime_reviews.shape

(135201, 3)

In [0]:
anime_reviews.dtypes

UserId           int64
workId           int64
overallRating    int64
dtype: object

In [0]:
anime_reviews.head(10)

   UserId  workId  overallRating
0     101   22429              4
1     102   35366              4
2     103   11827              3
3     104    3050              2
4     105    3220              7
5     106   38409              9
6     107   18693              9
7     107    3560              5
8     108    1639              1
9     109    4310              1

In [0]:
len(anime_reviews.overallRating.unique())

10

# ALS matrix Factorization using pyspark dataframe

In [0]:
# Converting Pandas Dataframe "anime_reviews" into Spark Dataframe "anime_sdf" and printing the first 10 rows

anime_reviews = anime_reviews.astype(str) # Converting pandas df to string first
anime_sdf = spark.createDataFrame(anime_reviews)
anime_sdf.show(10, False) # False allows us to show entire content of the columns

+------+------+-------------+
|UserId|workId|overallRating|
+------+------+-------------+
|101   |22429 |4            |
|102   |35366 |4            |
|103   |11827 |3            |
|104   |3050  |2            |
|105   |3220  |7            |
|106   |38409 |9            |
|107   |18693 |9            |
|107   |3560  |5            |
|108   |1639  |1            |
|109   |4310  |1            |
+------+------+-------------+
only showing top 10 rows

In [0]:
# Checking the datatype of our Spark dataframe file anime_sdf
print(type(anime_sdf))

<class 'pyspark.sql.dataframe.DataFrame'>

In [0]:
# Checking the datatypes of each variable in anime_sdf
anime_sdf.printSchema()

root
 |-- workId: string (nullable = true)
 |-- overallRating: string (nullable = true)
 |-- UserId: string (nullable = true)

In [0]:
# Converting data type of UserID, workId and oversallRating into Integer Type
from pyspark.sql.types import *

anime_sdf = anime_sdf.withColumn("User", anime_sdf["UserId"].cast(IntegerType())).drop("UserId").withColumnRenamed("User", "UserId")
anime_sdf = anime_sdf.withColumn("AnimeId", anime_sdf["workId"].cast(IntegerType())).drop("workId").withColumnRenamed("AnimeId", "workId")
anime_sdf = anime_sdf.withColumn("Rating", anime_sdf["overallRating"].cast(IntegerType())).drop("overallRating").withColumnRenamed("Rating", "overallRating")

In [0]:
# import libraries
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder
from pyspark.sql import Row

In [0]:
# Training and test split
training_RDD, test_RDD = anime_sdf.randomSplit([.8, .2], seed=10)

In [0]:
training_RDD.show(10)

+------+------+-------------+
|UserId|workId|overallRating|
+------+------+-------------+
|   101|  2476|            5|
|   101| 22429|            4|
|   102|   499|            5|
|   102|   578|            6|
|   102|   619|            4|
|   102|   885|            8|
|   102|  1076|            5|
|   102|  1207|            4|
|   102|  1208|            7|
|   102|  1324|            4|
+------+------+-------------+
only showing top 10 rows

In [0]:
movieRecs.show(10)

+------+--------------------+
|workId|     recommendations|
+------+--------------------+
|  1580|[[11572, 21.28303...|
|  5300|[[41966, 25.82989...|
|   471|[[41000, 15.52625...|
|  1591|[[12987, 13.53316...|
| 11141|[[12041, 13.31108...|
|  1342|[[30850, 16.30801...|
|  2142|[[8883, 19.51063]...|
| 35982|[[11960, 19.59297...|
| 38422|[[12041, 15.77091...|
|   463|[[32865, 17.54358...|
+------+--------------------+
only showing top 10 rows

## Cross Validation for Parameter Tuning of ALS model

In [0]:
# Let's initialize our ALS learner
alstune = ALS()

# Now we set the parameters for the method
alstune.setMaxIter(25)\
.setItemCol('workId')\
.setRatingCol('overallRating')\
.setUserCol('UserId')

ALS_d5c41aa98e75

In [0]:
# Now let's compute an evaluation metric for our test dataset
from pyspark.ml.evaluation import RegressionEvaluator

# Create an RMSE evaluator using the label and predicted columns
reg_eval = RegressionEvaluator(predictionCol="prediction", labelCol="overallRating", metricName="rmse")

tolerance = 0.03
ranks = [x for x in range(10,100, 10)]
regularizer = [0.01,0.05, 0.1,0.2,0.5]
errors = [0 for x in ranks]
models = [0 for x in ranks]

innerpar = [0 for x in regularizer]
err = 0
min_error = float('inf')
best_rank = -1
best_par = -10
for rank in ranks:
  # Set the rank here:
  alstune.setRank(rank)

  regs = 0
  for regPar in regularizer:
    alstune.setRegParam(regPar)
    # Create the model with these parameters.
    model = alstune.fit(training_RDD)
    # Run the model to create a prediction. Predict against the validation_df.
    predict_df = model.transform(test_RDD)
    # Remove NaN values from prediction (due to SPARK-14489)
    predicted_ratings_df = predict_df.filter(predict_df.prediction != float('nan'))
    # Run the previously created RMSE evaluator, reg_eval, on the predicted_ratings_df DataFrame
    error = reg_eval.evaluate(predicted_ratings_df)
    innerpar[regs] = error
    
    print ('For rank %s and regPar %s the RMSE is %s' % (rank, regPar, error))
    if error < min_error:
      min_error = error
      best_rank = err
      best_par = regs
    
    regs+=1

  errors[err] = innerpar
  err += 1
  
      
alstune.setRank(ranks[best_rank]).setRegParam(regularizer[best_par])
print ('The best model was trained with rank %s and regularizing parameter %s' % (ranks[best_rank], regularizer[best_par]) )

For rank 10 and regPar 0.01 the RMSE is 4.443476328509145
For rank 10 and regPar 0.05 the RMSE is 3.0623677426752742
For rank 10 and regPar 0.1 the RMSE is 2.74313223798718
For rank 10 and regPar 0.2 the RMSE is 2.5122759252839413
For rank 10 and regPar 0.5 the RMSE is 2.3415304943892
For rank 20 and regPar 0.01 the RMSE is 3.843406575801375
For rank 20 and regPar 0.05 the RMSE is 2.740487923325375
For rank 20 and regPar 0.1 the RMSE is 2.5946525968964536
For rank 20 and regPar 0.2 the RMSE is 2.462899913817558
For rank 20 and regPar 0.5 the RMSE is 2.325755445153372
For rank 30 and regPar 0.01 the RMSE is 3.442050492926527
For rank 30 and regPar 0.05 the RMSE is 2.651383240069091
For rank 30 and regPar 0.1 the RMSE is 2.5603799067720776
For rank 30 and regPar 0.2 the RMSE is 2.4503689846194083
For rank 30 and regPar 0.5 the RMSE is 2.3190955645034186
For rank 40 and regPar 0.01 the RMSE is 3.165018474058281
For rank 40 and regPar 0.05 the RMSE is 2.613736713859944
For rank 40 and regPar 0.1 the RMSE is 2.5461098217649254
For rank 40 and regPar 0.2 the RMSE is 2.447497959487811
For rank 40 and regPar 0.5 the RMSE is 2.319779607030629
For rank 50 and regPar 0.01 the RMSE is 2.9946376432495367
For rank 50 and regPar 0.05 the RMSE is 2.57800266386071
For rank 50 and regPar 0.1 the RMSE is 2.5323223986688324
For rank 50 and regPar 0.2 the RMSE is 2.447850033979786
For rank 50 and regPar 0.5 the RMSE is 2.319671937630111
For rank 60 and regPar 0.01 the RMSE is 2.9254900313643875
For rank 60 and regPar 0.05 the RMSE is 2.568607336085035
For rank 60 and regPar 0.1 the RMSE is 2.537097072646261
For rank 60 and regPar 0.2 the RMSE is 2.4506042134524235
For rank 60 and regPar 0.5 the RMSE is 2.321393748994245
For rank 70 and regPar 0.01 the RMSE is 2.8244640399876055
For rank 70 and regPar 0.05 the RMSE is 2.544003229712353
For rank 70 and regPar 0.1 the RMSE is 2.5296309693044483
For rank 70 and regPar 0.2 the RMSE is 2.4471281905413456
For rank 70 and regPar 0.5 the RMSE is 2.321673345033877
For rank 80 and regPar 0.01 the RMSE is 2.8062541308932265
For rank 80 and regPar 0.05 the RMSE is 2.541365128098715
For rank 80 and regPar 0.1 the RMSE is 2.5239021084907467
For rank 80 and regPar 0.2 the RMSE is 2.4399141389056753
For rank 80 and regPar 0.5 the RMSE is 2.3153572792576314
For rank 90 and regPar 0.01 the RMSE is 2.777555152289027
For rank 90 and regPar 0.05 the RMSE is 2.528510696627004
For rank 90 and regPar 0.1 the RMSE is 2.5278038612507996
For rank 90 and regPar 0.2 the RMSE is 2.448065440803977
For rank 90 and regPar 0.5 the RMSE is 2.3209341731766435
The best model was trained with rank 80 and regularizing parameter 0.5

In [0]:
# Training the model
als = ALS(maxIter=25,regParam=0.5,rank=80,itemCol="workId",userCol="UserId",ratingCol="overallRating",coldStartStrategy="drop",nonnegative=True)
model = als.fit(training_RDD)

In [0]:
predictions = model.transform(test_RDD)
predictions.show(40)

+------+------+-------------+----------+
|UserId|workId|overallRating|prediction|
+------+------+-------------+----------+
|  1056|   148|            9| 6.6317906|
|   416|   463|            6|  4.578002|
| 21964|   463|            6| 4.2286305|
|  8055|   496|            8| 6.4534717|
| 23047|  1088|            9|   8.96543|
|  4180|  1088|            9|  8.631317|
|  2350|  1088|            2|  6.150444|
| 15436|  1088|            8|   7.64032|
|  4028|  1238|            9|  9.033456|
|  3750|  1342|            8|   4.71697|
| 15782|  1342|            1| 2.0294123|
|   147|  1645|            5| 3.4304492|
| 29002|  1829|            8| 6.5161796|
| 19486|  1829|            6| 6.3939776|
|  1302|  1829|            8|  5.816959|
|  4247|  1829|           10| 7.0332904|
|  5064|  1829|            4| 5.8163476|
|  3916|  2142|            7|  4.567028|
|   107|  3918|            8|  7.134804|
|   372|  5300|            8|  8.997341|
| 20634|  5300|            9| 9.1995325|
|   767|  5300|            9|  9.076168|
|   392|  6336|            7| 7.7699637|
|  4782|  6336|            8| 7.2812014|
| 25833|  6336|           10| 6.7954626|
| 14277|  6654|            5|  6.248684|
| 35637|  8086|            8| 6.5076528|
| 29575|  8086|            9|  6.703415|
|  3207|  8086|           10| 6.2831244|
|  3195|  8086|            9|  5.930563|
|  3011|  8086|            8| 4.8391204|
| 11031|  8086|            4|   4.88586|
| 21265|  8086|            9|  6.723595|
|  6364|  8086|           10| 5.1770635|
|  8905|  8086|            8| 7.2743034|
| 27102|  8086|            9| 5.3416166|
|  3174|  9465|            9|  9.169863|
| 28025| 17389|           10|  5.459045|
|  4057| 17679|           10| 7.6387777|
|  8042| 25517|            8|    6.8893|
+------+------+-------------+----------+
only showing top 40 rows

In [0]:
# Evaluate the model by computing the RMSE on the test data
predictions = model.transform(test_RDD)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="overallRating",
                                predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

# Generate top 10 movie recommendations for each user
userRecs = model.recommendForAllUsers(10)
userRecs.show()
# Generate top 10 user recommendations for each movie
movieRecs = model.recommendForAllItems(10)

Root-mean-square error = 2.233732092751394
+------+--------------------+
|UserId|     recommendations|
+------+--------------------+
|   463|[[1238, 10.633916...|
|   471|[[1238, 8.032571]...|
|   496|[[34591, 10.53226...|
|   833|[[681, 4.5473504]...|
|  1088|[[1081, 10.270393...|
|  1238|[[1081, 9.687137]...|
|  1342|[[2070, 2.0770152...|
|  1580|[[413, 9.081915],...|
|  1591|[[1238, 9.322596]...|
|  1645|[[1238, 9.382253]...|
|  1829|[[1238, 9.756073]...|
|  1959|[[1238, 5.742684]...|
|  2122|[[1238, 10.105022...|
|  2142|[[1238, 11.369951...|
|  2866|[[1238, 10.662142...|
|  3175|[[2070, 6.7605], ...|
|  3749|[[1238, 9.451535]...|
|  3918|[[12917, 2.905894...|
|  3997|[[1238, 9.413797]...|
|  4101|[[1238, 10.890756...|
+------+--------------------+
only showing top 20 rows

In [0]:
# Converting in the following format: userID<\tab>itemID1,itemID2,itemID3 ...,itemID10
my_userRecs1 = userRecs.withColumn("Movie_1", userRecs["recommendations"].getItem(0))\
.withColumn("Movie_2", userRecs["recommendations"].getItem(1))\
.withColumn("Movie_3", userRecs["recommendations"].getItem(2))\
.withColumn("Movie_4", userRecs["recommendations"].getItem(3))\
.withColumn("Movie_5", userRecs["recommendations"].getItem(4))\
.withColumn("Movie_6", userRecs["recommendations"].getItem(5))\
.withColumn("Movie_7", userRecs["recommendations"].getItem(6))\
.withColumn("Movie_8", userRecs["recommendations"].getItem(7))\
.withColumn("Movie_9", userRecs["recommendations"].getItem(8))\
.withColumn("Movie_10", userRecs["recommendations"].getItem(9))
my_userRecs1.show()

+------+--------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|UserId|     recommendations|          Movie_1|           Movie_2|           Movie_3|           Movie_4|           Movie_5|           Movie_6|           Movie_7|           Movie_8|           Movie_9|          Movie_10|
+------+--------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|   463|[[1238, 10.633916...|[1238, 10.633916]| [1081, 10.584258]|[2070, 10.1859045]| [28957, 9.942186]| [34591, 9.939552]|   [631, 9.902186]| [34500, 9.902186]| [35247, 9.840441]|   [605, 9.771796]| [37596, 9.768624]|
|   471|[[1238, 8.032571]...| [1238, 8.032571]|  [631, 7.9807615]|[34500, 7.9807615]|  [2070, 7.806849]| [1081, 7.6028767]|  [1014, 7.520628]|  [10132, 7.38934]|   [605, 7.384114]|  [9996, 7.307279]|[35180, 7.3041024]|
|   496|[[34591, 10.53226...|[34591, 10.53226]| [1081, 10.389894]|  [1238, 10.30806]| [39415, 9.895186]| [1014, 9.8689375]| [33095, 9.802275]| [35247, 9.783246]|  [28957, 9.73741]| [28735, 9.700752]| [25303, 9.634523]|
|   833|[[681, 4.5473504]...| [681, 4.5473504]|[28105, 4.1779866]| [26023, 4.127674]|  [1081, 4.085711]| [9435, 3.9898593]|[35191, 3.9812577]| [3593, 3.9161198]|    [2070, 3.8925]|  [2848, 3.882794]|[34102, 3.8476646]|
|  1088|[[1081, 10.270393...|[1081, 10.270393]| [1238, 10.239949]|  [2070, 10.07678]|   [631, 9.970142]| [34500, 9.970142]|   [605, 9.931077]|  [3593, 9.731331]| [28957, 9.718584]| [34591, 9.682328]|  [1014, 9.596864]|
|  1238|[[1081, 9.687137]...| [1081, 9.687137]|  [1238, 9.540087]|  [3593, 9.509725]|  [2070, 9.431482]|   [631, 9.200071]| [34500, 9.200071]| [10132, 9.075598]|  [2733, 9.057915]|   [605, 8.897487]|  [4017, 8.833323]|
|  1342|[[2070, 2.0770152...|[2070, 2.0770152]|[37021, 1.9354305]| [1081, 1.9270307]| [1238, 1.9073014]|  [631, 1.8924466]|[34500, 1.8924466]|[39415, 1.8827184]|[10132, 1.8411434]|[21469, 1.8364127]| [3100, 1.8305163]|
|  1580|[[413, 9.081915],...|  [413, 9.081915]|  [34514, 8.82681]|  [4282, 8.634679]|  [33993, 8.20607]| [34500, 8.163021]|   [631, 8.163021]|  [2313, 7.830531]|   [21831, 7.7077]|  [1263, 7.589448]| [5973, 7.4735074]|
|  1591|[[1238, 9.322596]...| [1238, 9.322596]|  [1081, 9.203943]|  [2070, 8.799989]| [28957, 8.622401]| [34500, 8.484227]|   [631, 8.484227]|  [36990, 8.43346]| [21469, 8.417366]| [37596, 8.412121]|  [3907, 8.373728]|
|  1645|[[1238, 9.382253]...| [1238, 9.382253]|  [1081, 8.883406]|  [2070, 8.562764]| [37596, 8.480495]|  [9996, 8.401828]| [28957, 8.390323]|  [1014, 8.369306]|  [2733, 8.364568]|  [3593, 8.330049]| [35180, 8.311438]|
|  1829|[[1238, 9.756073]...| [1238, 9.756073]|  [1081, 9.673362]| [28957, 9.260352]|  [2070, 9.027619]|  [34591, 8.98493]|[35247, 8.9290695]|   [605, 8.919606]|  [9996, 8.887293]|  [4017, 8.846121]|  [3593, 8.843056]|
|  1959|[[1238, 5.742684]...| [1238, 5.742684]|  [7311, 5.696321]|  [7222, 5.592578]|  [7785, 5.586856]|  [353, 5.5429664]|  [4565, 5.532519]|  [1014, 5.488087]| [1081, 5.4593587]| [27821, 5.433229]|[36895, 5.4206357]|
|  2122|[[1238, 10.105022...|[1238, 10.105022]|  [1081, 9.995541]|  [2070, 9.521492]| [34500, 9.482901]|   [631, 9.482901]|  [2733, 9.155723]|   [605, 9.100029]| [39415, 9.014324]|   [3593, 8.99673]| [28957, 8.968645]|
|  2142|[[1238, 11.369951...|[1238, 11.369951]| [1081, 11.151944]|  [631, 10.656609]|[34500, 10.656609]| [2070, 10.606815]|[28957, 10.472271]| [4073, 10.421548]|  [605, 10.264029]| [3593, 10.181926]| [9996, 10.145543]|
|  2866|[[1238, 10.662142...|[1238, 10.662142]| [1081, 10.597223]|[2070, 10.2627125]|[34500, 10.129363]|  [631, 10.129363]| [28957, 9.904529]|  [9996, 9.904499]| [34591, 9.890426]| [37596, 9.864144]| [35180, 9.805241]|
|  3175|[[2070, 6.7605], ...|   [2070, 6.7605]| [1081, 6.6955657]|[10132, 6.4727626]|  [631, 6.4726872]|[34500, 6.4726872]| [2733, 6.4082446]|  [605, 6.2383685]|  [1238, 6.209071]| [3593, 6.2048197]| [4017, 6.1989183]|
|  3749|[[1238, 9.451535]...| [1238, 9.451535]| [2070, 9.0341215]|  [1081, 8.995991]|  [1834, 8.994975]|   [631, 8.823587]| [34500, 8.823587]| [28957, 8.772137]| [34591, 8.652505]| [28977, 8.624197]|  [8110, 8.569015]|
|  3918|[[12917, 2.905894...|[12917, 2.905894]| [28957, 2.869415]| [3907, 2.8209798]|   [283, 2.815712]| [1238, 2.8072383]|[37596, 2.8054285]| [35567, 2.805006]|  [353, 2.7947204]|  [7222, 2.779618]|[35180, 2.7694001]|
|  3997|[[1238, 9.413797]...| [1238, 9.413797]|  [1081, 9.410799]|  [2070, 9.166692]|   [631, 9.096212]| [34500, 9.096212]|   [605, 8.680863]|  [3593, 8.673564]|  [2733, 8.641242]|  [9996, 8.523135]| [10132, 8.520348]|
|  4101|[[1238, 10.890756...|[1238, 10.890756]| [2070, 10.785845]| [1081, 10.773212]|[34500, 10.513957]|  [631, 10.513957]| [28957, 9.946474]|   [605, 9.905526]|  [2733, 9.905512]| [10132, 9.814483]|  [3593, 9.772218]|
+------+--------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [0]:
# Converting in the following format: userID<\tab>itemID1,itemID2,itemID3 ...,itemID10
from pyspark.sql import Row
my_userRecs2 = my_userRecs1.select(my_userRecs1.UserId, my_userRecs1.Movie_1.getField("workId").alias("Movie_1")\
                             ,my_userRecs1.Movie_2.getField("workId").alias("Movie_2")\
                             ,my_userRecs1.Movie_3.getField("workId").alias("Movie_3")\
                             ,my_userRecs1.Movie_4.getField("workId").alias("Movie_4")\
                             ,my_userRecs1.Movie_5.getField("workId").alias("Movie_5")\
                             ,my_userRecs1.Movie_6.getField("workId").alias("Movie_6")\
                             ,my_userRecs1.Movie_7.getField("workId").alias("Movie_7")\
                             ,my_userRecs1.Movie_8.getField("workId").alias("Movie_8")\
                             ,my_userRecs1.Movie_9.getField("workId").alias("Movie_9")\
                             ,my_userRecs1.Movie_10.getField("workId").alias("Movie_10"))
my_userRecs2.show(20)

+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+
|UserId|Movie_1|Movie_2|Movie_3|Movie_4|Movie_5|Movie_6|Movie_7|Movie_8|Movie_9|Movie_10|
+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+
|   463|   1238|   1081|   2070|  28957|  34591|    631|  34500|  35247|    605|   37596|
|   471|   1238|    631|  34500|   2070|   1081|   1014|  10132|    605|   9996|   35180|
|   496|  34591|   1081|   1238|  39415|   1014|  33095|  35247|  28957|  28735|   25303|
|   833|    681|  28105|  26023|   1081|   9435|  35191|   3593|   2070|   2848|   34102|
|  1088|   1081|   1238|   2070|    631|  34500|    605|   3593|  28957|  34591|    1014|
|  1238|   1081|   1238|   3593|   2070|    631|  34500|  10132|   2733|    605|    4017|
|  1342|   2070|  37021|   1081|   1238|    631|  34500|  39415|  10132|  21469|    3100|
|  1580|    413|  34514|   4282|  33993|  34500|    631|   2313|  21831|   1263|    5973|
|  1591|   1238|   1081|   2070|  28957|  34500|    631|  36990|  21469|  37596|    3907|
|  1645|   1238|   1081|   2070|  37596|   9996|  28957|   1014|   2733|   3593|   35180|
|  1829|   1238|   1081|  28957|   2070|  34591|  35247|    605|   9996|   4017|    3593|
|  1959|   1238|   7311|   7222|   7785|    353|   4565|   1014|   1081|  27821|   36895|
|  2122|   1238|   1081|   2070|  34500|    631|   2733|    605|  39415|   3593|   28957|
|  2142|   1238|   1081|    631|  34500|   2070|  28957|   4073|    605|   3593|    9996|
|  2866|   1238|   1081|   2070|  34500|    631|  28957|   9996|  34591|  37596|   35180|
|  3175|   2070|   1081|  10132|    631|  34500|   2733|    605|   1238|   3593|    4017|
|  3749|   1238|   2070|   1081|   1834|    631|  34500|  28957|  34591|  28977|    8110|
|  3918|  12917|  28957|   3907|    283|   1238|  37596|  35567|    353|   7222|   35180|
|  3997|   1238|   1081|   2070|    631|  34500|    605|   3593|   2733|   9996|   10132|
|  4101|   1238|   2070|   1081|  34500|    631|  28957|    605|   2733|  10132|    3593|
+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+
only showing top 20 rows

In [0]:
import pandas as pd
userRecsCsv = userRecs.toPandas()
userRecsCsv.head()

   UserId                                    recommendations
0     463  [(15633, 24.748703002929688), (16778, 22.63933...
1     471  [(33911, 32.56745910644531), (34652, 29.411079...
2     496  [(37283, 20.106273651123047), (39065, 19.82189...
3     833  [(3039, 7.203929901123047), (18137, 7.12053775...
4    1088  [(8713, 19.652875900268555), (31797, 18.812114...

In [0]:
#Exporting the Dataframe to CSV file
userRecsCsv.to_csv(r"userRecsCsv.csv", index = False)

# Content Based Filtering using KNN

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns
import pandas.util.testing as tm
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [0]:
# importing anime movies dataset
anime_movies = pd.read_csv("/content/AnimeMovies.csv")

In [0]:
anime_movies.head(5)

   workId                                          workName
0   22429                                   Itadaki_Seieki♥
1   35366  Eiga_Ensetsu_Seiji_no_Rinrika_Gotou_Shinpei_1926
2   11827     Kuroinu__Kedakaki_Seijo_wa_Hakudaku_ni_Somaru
3    3050                                  Panchira_Teacher
4    3220                           Kanashimi_no_Belladonna

In [0]:
# importing anime ratings dataset
anime_ratings = pd.read_csv("AnimeRatings.csv")

In [0]:
anime_ratings.head(5)

   UserId  workId  overallRating
0     101   22429              4
1     102   35366              4
2     103   11827              3
3     104    3050              2
4     105    3220              7

In [0]:
# importing anime genre dataset
anime_genre = pd.read_csv("animeListGenres.csv")

In [9]:
# selecting 4 columns from the dataset
anime_genre= anime_genre[['workId', 'engName', 'episodes', 'genres']]
anime_genre.head(5)

   workId  ...                                             genres
0    5114  ...  Action, Adventure, Comedy, Drama, Fantasy, Mag...
1   32281  ...               Romance, Supernatural, School, Drama
2    9253  ...                                   Thriller, Sci-Fi
3   28977  ...  Action, Comedy, Historical, Parody, Samurai, S...
4   11061  ...   Action, Adventure, Fantasy, Shounen, Super Power

[5 rows x 4 columns]

In [10]:
# importing complete anime dataset
anime_dataset = pd.read_excel("/content/AnimeDatasetCopy.xlsx")
anime_dataset.head(10)

        id  ...                                             review
0  1017626  ...  Sorry for my bad English ^.^ ( 80% Google tran...
1  1017400  ...  As far as the 'animation' goes, this 30-minute...
2  1017555  ...  While I have to admit, the art was really good...
3  1018890  ...  ~MAY CONTAIN SOME SPOILERS~Look, I've seen man...
4  1017910  ...  Spellbound in a whirlwind of love, sex, desire...
5  1017397  ...  Killer seven is an amazing short Chinese anime...
6  1017935  ...  Welcome to my review of \Tenioha!: Onnanoko da...
7  1019584  ...  Welcome to my review of \Karen\" ! I will try ...
8  1020098  ...  That was painful to watch. Not gonna lie.Boku ...
9  1020166  ...  This might be the single worst hentai, let alo...

[10 rows x 16 columns]

In [11]:
#Merging anime dataset with genre dataset
new_anime_df = pd.merge(anime_dataset,anime_genre,on='workId')
new_anime_df

             id  ...                                             genres
0       1017626  ...                               Hentai, Supernatural
1       1108536  ...                               Hentai, Supernatural
2        125366  ...                               Hentai, Supernatural
3        125365  ...                               Hentai, Supernatural
4        125367  ...                               Hentai, Supernatural
...         ...  ...                                                ...
135196     6491  ...  Action, Comedy, Historical, Parody, Samurai, S...
135197     6488  ...  Action, Comedy, Historical, Parody, Samurai, S...
135198     6493  ...  Action, Comedy, Historical, Parody, Samurai, S...
135199     6494  ...  Action, Comedy, Historical, Parody, Samurai, S...
135200     6492  ...  Action, Comedy, Historical, Parody, Samurai, S...

[135201 rows x 19 columns]

In [0]:
# converting the datatypes to float
new_anime_df["overallRating"] = new_anime_df["overallRating"].astype(float)
new_anime_df["storyRating"] = new_anime_df["storyRating"].astype(float)
new_anime_df["animationRating"] = new_anime_df["animationRating"].astype(float)
new_anime_df["soundRating"] = new_anime_df["soundRating"].astype(float)
new_anime_df["characterRating"] = new_anime_df["characterRating"].astype(float)
new_anime_df["enjoymentRating"] = new_anime_df["enjoymentRating"].astype(float)

new_anime_df["UserId"] = new_anime_df["UserId"].astype(float)

In [0]:

# Creating dummy variables for genres

anime_features = pd.concat([new_anime_df[["UserId"]],new_anime_df["workId"],new_anime_df["overallRating"],
                            new_anime_df["storyRating"], new_anime_df["animationRating"],new_anime_df["soundRating"],
                            new_anime_df["characterRating"], new_anime_df["enjoymentRating"],
                            new_anime_df["genres"].str.get_dummies(sep=",")],axis=1)
#new_anime_df["workName"] = new_anime_df["workName"].map(lambda name:re.sub('[^A-Za-z0-9]+', " ", name))
anime_features.head()

   UserId  workId  overallRating  ...  Thriller  Vampire  Yaoi
0   101.0   22429            4.0  ...         0        0     0
1   383.0   22429            3.0  ...         0        0     0
2  6011.0   22429            7.0  ...         0        0     0
3  7653.0   22429           10.0  ...         0        0     0
4  7707.0   22429            9.0  ...         0        0     0

[5 rows x 94 columns]

In [0]:

anime_features.columns

Index(['UserId', 'workId', 'overallRating', 'storyRating', 'animationRating',
       'soundRating', 'characterRating', 'enjoymentRating', ' Ace no Saigo"',
       ' Adventure', ' Cars', ' Comedy', ' Dementia', ' Demons', ' Drama',
       ' Ecchi', ' Fantasy', ' Game', ' Harem', ' Hentai', ' Historical',
       ' Horror', ' Josei', ' Kids', ' Magic', ' Martial Arts', ' Mecha',
       ' Military', ' Music', ' Mystery', ' Parody', ' Police',
       ' Psychological', ' Romance', ' Samurai', ' School', ' Sci-Fi',
       ' Seinen', ' Shoujo', ' Shoujo Ai', ' Shounen', ' Shounen Ai',
       ' Slice of Life', ' Space', ' Sports', ' Super Power', ' Supernatural',
       ' Thriller', ' Vampire', ' Yaoi', ' Yuri', '1', '12', 'Action',
       'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama', 'Ecchi',
       'Fantasy', 'Game', 'Harem', 'Hentai', 'Historical', 'Horror', 'Josei',
       'Kids', 'Magic', 'Martial Arts', 'Mecha', 'Military', 'Music',
       'Mystery', 'No genres have been added yet.', 'Parody', 'Police',
       'Psychological', 'Romance', 'Samurai', 'School', 'Sci-Fi', 'Seinen',
       'Shoujo', 'Shounen', 'Slice of Life', 'Space', 'Sports', 'Super Power',
       'Supernatural', 'Thriller', 'Vampire', 'Yaoi'],
      dtype='object')

In [0]:
# Scaling the variables using minmaxscaler
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
anime_features[['overallRating','storyRating', 'animationRating', 'soundRating', 'characterRating','enjoymentRating' ]] = min_max_scaler.fit_transform(anime_features[['overallRating','storyRating', 'animationRating', 'soundRating', 'characterRating','enjoymentRating' ]])

np.round(anime_features,2)

         UserId  workId  overallRating  ...  Thriller  Vampire  Yaoi
0         101.0   22429           0.36  ...         0        0     0
1         383.0   22429           0.27  ...         0        0     0
2        6011.0   22429           0.64  ...         0        0     0
3        7653.0   22429           0.91  ...         0        0     0
4        7707.0   22429           0.82  ...         0        0     0
...         ...     ...            ...  ...       ...      ...   ...
135196  25121.0   34096           0.64  ...         0        0     0
135197  38828.0   34096           0.36  ...         0        0     0
135198  46256.0   34096           0.73  ...         0        0     0
135199    551.0   34096           0.73  ...         0        0     0
135200  13161.0   34096           0.64  ...         0        0     0

[135201 rows x 94 columns]

In [0]:
# Building nearest neighbor model with brute algorithm
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute').fit(anime_features)

In [0]:
distances2, indices2 = model_knn.kneighbors(anime_features)

In [0]:
distances2

array([[0.00000000e+00, 2.97423852e-09, 3.29165140e-09, 3.69692765e-09,
        4.01089828e-09],
       [2.22044605e-16, 2.77987955e-09, 3.40999773e-09, 3.57078589e-09,
        3.83072063e-09],
       [4.44089210e-16, 4.07563416e-09, 4.78852313e-09, 5.52806156e-09,
        5.80768478e-09],
       ...,
       [2.22044605e-16, 2.37334552e-09, 2.55740074e-09, 2.86031443e-09,
        3.00831049e-09],
       [6.66133815e-16, 3.73870723e-09, 3.94730559e-09, 4.41293813e-09,
        4.43119885e-09],
       [2.22044605e-16, 3.31949834e-09, 3.63557551e-09, 3.84722698e-09,
        4.27959190e-09]])

In [0]:
# Building nearest neighbor model with ball_tree algorithm

nbrs1 = NearestNeighbors(n_neighbors=50, algorithm='ball_tree').fit(anime_features)
distances1, indices1 = nbrs1.kneighbors(anime_features)

In [0]:
distances1, indices1 = nbrs1.kneighbors(anime_features)
distances1

array([[0.        , 0.09090934, 0.09110883, ..., 1.0193712 , 1.01948477,
        1.01953762],
       [0.        , 0.09110883, 0.18191117, ..., 1.02103715, 1.02129364,
        1.02230115],
       [0.        , 0.0855695 , 0.10301433, ..., 1.00479832, 1.0048213 ,
        1.00500556],
       ...,
       [0.        , 0.01864483, 0.08546548, ..., 0.35050797, 0.38450937,
        0.39514424],
       [0.        , 0.04421777, 0.06890308, ..., 0.63497584, 0.63502113,
        0.64008583],
       [0.        , 0.01881588, 0.04723307, ..., 0.56034769, 0.5613624 ,
        0.56543398]])

In [0]:
indices1

array([[     0,     12,      1,      2, 108075,     11],
       [     1,      0,     12, 108076, 108075,      2],
       [     2,     11,      5,     10,      6,      7],
       ...,
       [135198, 135191,  51109, 135190,  51124,  51126],
       [135199, 120791,  51130,  51121,  51106, 135194],
       [135200, 135192, 120800, 135193, 120797, 120798]])

In [0]:
def get_index_from_name(workName):
    return new_anime_df[new_anime_df["workName"]==workName].index.tolist()[0]

In [0]:
all_anime_names = list(new_anime_df.workName.values)

In [0]:
def get_id_from_partial_name(partial):
    for name in all_anime_names:
        if partial in workName:
            print(workName,all_anime_names.index(workName))

In [0]:
""" print_similar_query can search for similar animes both by id and by name. """

def print_similar_animes(query=None,id=None):
    if id:
        for id in indices2[id][1:]:
            print(new_anime_df.iloc[id]["workName"])
    if query:
        found_id = get_index_from_name(query)
        for id in indices2[found_id][1:]:
            print(new_anime_df.iloc[id]["workName"])

In [0]:
def print_similar_animes(query=None,id=None):
    if id:
        for id in indices2[id][1:]:
            print(new_anime_df.iloc[id]["workId"])
    if query:
        found_id = get_index_from_name(query)
        for id in indices2[found_id][1:]:
            print(new_anime_df.iloc[id]["workId"])

## Example Results of inputting a movie Id or movie name to get recommendations

In [0]:
print_similar_animes(id=22450)

Fullmetal_Alchemist__Brotherhood
Kuroshitsuji_II
Darker_than_Black__Ryuusei_no_Gemini
Angel_Beats

In [0]:
print_similar_animes(query="Calicula_Machine")

Hina_no_Uta
Boer_no_Mori_e
Aikagi_The_Animation
Kyou_mo_Chappy_End

In [0]:
print_similar_animes(query="Kimi_no_Na_wa")

Zutto_Mae_kara_Suki_deshita__Kokuhaku_Jikkou_Iinkai
Persona_3_the_Movie_4__Winter_of_Rebirth
Anne_Happyâ™ª
Kuusen_Madoushi_Kouhosei_no_Kyoukan__Lecty_no_Ikimonogatari

In [0]:
print_similar_animes(query="Seiren")

3D_Kanojo__Real_Girl
Release_the_Spyce
Tsurune__Kazemai_Koukou_Kyuudoubu
Kimi_no_Suizou_wo_Tabetai

In [0]:
print_similar_animes(id=1557)

Fukigen_na_Mononokean
Sakamoto_Desu_ga
Kizumonogatari_III__Reiketsu-hen
Hibike_Euphonium_2

# Collaborative Filtering using KNN

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns
import pandas.util.testing as tm
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [0]:
# Total review count for each anime movie

anime_ratingCount = (anime_dataset.
     groupby(by = ['workName'])['overallRating'].
     count().
     reset_index().
     rename(columns = {'overallRating': 'totalRatingCount'})
     [['workName', 'totalRatingCount']]
    )

anime_ratingCount.head(20)

                                         workName  totalRatingCount
0                                               0                 3
1                                               1                 8
2                                             100                 1
3                                            1989                 1
4                                            2010                 1
5                                          663114                 3
6                                           009-1                 8
7                                   009_Re_Cyborg                16
8                                           00_08                23
9                                        07-Ghost                75
10       100-man-nen_Chikyuu_no_Tabi__Bander_Book                 2
11                 1000-nen_Joou__Queen_Millennia                 2
12                                    1001_Nights                 9
13                           100_Pascal-sensei_TV                 2
14                                     11-nin_Iru                 8
15                                         11eyes                95
16                       11eyes__Momoiro_Genmutan                13
17                                         12-sai                 3
18             12-sai__Chicchana_Mune_no_Tokimeki                13
19  12-sai__Chicchana_Mune_no_Tokimeki_2nd_Season                 5

In [0]:
rating_with_totalRatingCount = anime_dataset.merge(anime_ratingCount, left_on = 'workName', right_on = 'workName', how = 'left')
rating_with_totalRatingCount.head()

        id  ...  totalRatingCount
0  1017626  ...                13
1  1017400  ...                 1
2  1017555  ...                21
3  1018890  ...                 2
4  1017910  ...                20

[5 rows x 17 columns]

In [0]:
# Let’s look at the statistics of total rating count
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(anime_ratingCount['totalRatingCount'].describe())

count   7868.000
mean      17.184
std       50.194
min        1.000
25%        1.000
50%        3.000
75%       11.000
max     1285.000
Name: totalRatingCount, dtype: float64

In [0]:
# Let’s look at the top of the distribution
print(anime_ratingCount['totalRatingCount'].quantile(np.arange(.9, 1, .01)))

0.900    40.000
0.910    43.000
0.920    49.000
0.930    56.000
0.940    64.000
0.950    75.000
0.960    90.000
0.970   114.000
0.980   149.000
0.990   218.660
Name: totalRatingCount, dtype: float64

In [0]:
# setting a popularity threshold of 30
popularity_threshold = 30
rating_popular_anime = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_anime.head()

         id  ...  totalRatingCount
8   1020098  ...               132
10  1020097  ...               132
16  1002895  ...               102
19  1001158  ...               202
23  1000622  ...                81

[5 rows x 17 columns]

In [0]:
rating_popular_anime.shape

(99125, 17)

In [0]:
# changing UserID datatype to integer
rating_popular_anime["UserId"] = rating_popular_anime["UserId"].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
rating_popular_anime.dtypes

id                            int64
workId                        int64
reviewId                      int64
workName                     object
postTime             datetime64[ns]
episodesSeen                 object
author                       object
UserId                        int64
peopleFoundUseful             int64
overallRating                 int64
storyRating                   int64
animationRating               int64
soundRating                   int64
characterRating               int64
enjoymentRating               int64
review                       object
totalRatingCount              int64
dtype: object

In [0]:
# Forming a matrix between UserId and workName
from scipy.sparse import csr_matrix
anime_rating_pivot = rating_popular_anime.pivot_table(values='overallRating', index='workName', columns='UserId').fillna(0)
anime_rating_matrix = csr_matrix(anime_rating_pivot.values)

In [0]:
anime_rating_pivot

UserId                      101    102    103    ...  46868  46869  46870
workName                                         ...
07-Ghost                      0.0    0.0    0.0  ...    0.0    0.0    0.0
11eyes                        0.0    0.0    0.0  ...    0.0    0.0    0.0
18if                          0.0    0.0    0.0  ...    0.0    0.0    0.0
3-gatsu_no_Lion               0.0    0.0    0.0  ...    0.0    0.0    0.0
3-gatsu_no_Lion_2nd_Season    0.0    0.0    0.0  ...    0.0    0.0    0.0
...                           ...    ...    ...  ...    ...    ...    ...
Zombieland_Saga               0.0    0.0    0.0  ...    0.0    0.0    0.0
ef__A_Tale_of_Melodies        0.0    0.0    0.0  ...    0.0    0.0    0.0
ef__A_Tale_of_Memories        0.0    0.0    0.0  ...    0.0    0.0    0.0
hack__Sign                    0.0    0.0    0.0  ...    0.0    0.0    0.0
xxxHOLiC                      0.0    0.0    0.0  ...    0.0    0.0    0.0

[1014 rows x 39211 columns]

## Nearest Neighbor using brute algorithm and cosine metric

In [0]:
# The algorithm we use to compute the nearest neighbors is “brute”, 
# and we specify “metric=cosine” so that the algorithm will calculate 
# the cosine similarity between rating vectors. Finally, we fit the model.

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = "brute", radius=0.5, n_neighbors=15, leaf_size=30, p=2.5)
model_knn.fit(anime_rating_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=15, p=2.5,
                 radius=0.5)

In [0]:
query_index = np.random.choice(anime_rating_pivot.shape[0])
distances, indices = model_knn.kneighbors(anime_rating_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 6)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(anime_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, anime_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Mahouka_Koukou_no_Rettousei:

1: Trinity_Seven, with distance of 0.9023246790207741:
2: Madan_no_Ou_to_Vanadis, with distance of 0.924606215982846:
3: Nejimaki_Seirei_Senki__Tenkyou_no_Alderamin, with distance of 0.9307694234888306:
4: Jitsu_wa_Watashi_wa, with distance of 0.9429259487845205:
5: Black_Bullet, with distance of 0.9441964040938917:

## Nearest Neighbor using kd_tree algorithm and euclidean metric

In [0]:
# Fitting the model using kd_tree algorithm and euclidean similarity

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'euclidean', algorithm = "kd_tree", radius=0.5, n_neighbors=15, leaf_size=30, p=2.5)
model_knn.fit(anime_rating_matrix)

/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_base.py:414: UserWarning: cannot use tree with sparse input: using brute force
  warnings.warn("cannot use tree with sparse input: "

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='euclidean',
                 metric_params=None, n_jobs=None, n_neighbors=15, p=2.5,
                 radius=0.5)

In [0]:
query_index = np.random.choice(anime_rating_pivot.shape[0])
distances, indices = model_knn.kneighbors(anime_rating_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 6)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(anime_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, anime_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Girls_Bravo__First_Season:

1: Kenja_no_Mago, with distance of 41.211194424739524:
2: Makura_no_Danshi, with distance of 42.09513035969837:
3: Utsu_Musume_Sayuri, with distance of 42.81354925721529:
4: Divine_Gate, with distance of 44.74371464239419:
5: Rewrite, with distance of 46.357307945997036:

# Query based recommendation Module using TFIDF features of the reviews

In [12]:
# Select columns 'workId','workName', 'UserId', 'overallRating', 'genres', 'review', 'postTime' from the original merged dataset
my_anime_df = new_anime_df[['workId','workName', 'UserId', 'overallRating', 'genres', 'review', 'postTime']]

# changing the datatype of review to string
my_anime_df['review'] = my_anime_df['review'].astype(str)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [15]:
# Function for cleaning the reviews by removing stopwords and punctuations
def clean_review(mess):
  return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", mess).split())

# Applying the clean_review function to column review
my_anime_df['review'] = my_anime_df['review'].apply(clean_review)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
# Applying the clean_review function to column genres
my_anime_df['genres'] = my_anime_df['genres'].apply(clean_review)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
subset_df = my_anime_df.sample(n=30000, replace=False, random_state=1, axis=0)

In [0]:
# Creating dataframes of reviews with User ID
userid_df = subset_df[['UserId','review']]

# Creating dataframes of reviews with Work ID
work_df = subset_df[['workId', 'review']]

In [0]:
# Combining all the reviews to form a single paragraph for each User ID
u_df = userid_df.groupby('UserId').agg({'review': ' '.join})

# Combining all the reviews to form a single paragraph for each Work ID
w_df = work_df.groupby('workId').agg({'review': ' '.join})

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Applying the TFIDF Vectorizer to extract the features from the text for each user review.
#userid vectorizer
userid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=501)
userid_vectors = userid_vectorizer.fit_transform(u_df['review'])

# Applying the TFIDF Vectorizer to extract the features from the text for each movie review.
#Business id vectorizer
workid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=501)
workid_vectors = workid_vectorizer.fit_transform(w_df['review'])

In [0]:
# Creating a matrix of users and movies with the ratings.
userid_rating_matrix = pd.pivot_table(subset_df, values='overallRating', index=['UserId'], columns=['workId'])

In [0]:
def matrix_factorization(R, P, Q, steps=25, gamma=0.001,lamda=0.02):
    for step in range(steps):
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    eij=R.loc[i,j]-np.dot(P.loc[i],Q.loc[j])
                    P.loc[i]=P.loc[i]+gamma*(eij*Q.loc[j]-lamda*P.loc[i])
                    Q.loc[j]=Q.loc[j]+gamma*(eij*P.loc[i]-lamda*Q.loc[j])
        e=0
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    e= e + pow(R.loc[i,j]-np.dot(P.loc[i],Q.loc[j]),2)+lamda*(pow(np.linalg.norm(P.loc[i]),2)+pow(np.linalg.norm(Q.loc[j]),2))
        if e<0.001:
            break
        
    return P,Q

In [0]:
P1 = pd.DataFrame(userid_vectors.toarray(), index=u_df.index, columns=userid_vectorizer.get_feature_names())
Q1 = pd.DataFrame(workid_vectors.toarray(), index=w_df.index, columns=workid_vectorizer.get_feature_names())

In [0]:
P, Q = matrix_factorization(userid_rating_matrix, P, Q, steps=5, gamma=0.001,lamda=0.02)

In [0]:
## reading the dataframes from saved locations --this was to ensure that we dont lose the model outputs

P.to_csv("P.csv")
Q.to_csv("Q.csv")

P = pd.read_csv('P.csv')
Q = pd.read_csv('Q.csv')

In [0]:
Px = P
Qx = Q

In [0]:
Px.index = Px.iloc[:, 1]
Px = Px.drop(['Unnamed: 0', 'UserId'], axis=1)

In [45]:
Qx.head(10)

        Unnamed: 0  workId         1  ...       yet       you      your
workId                                ...
1                0       1  0.028717  ...  0.045375  0.352292  0.046628
5                1       5  0.012414  ...  0.020449  0.098210  0.011552
6                2       6  0.017043  ...  0.054064  0.150340  0.032864
7                3       7  0.016813  ...  0.012228  0.156331  0.013261
15               4      15  0.000038  ...  0.020329  0.094831  0.009723
16               5      16  0.010642  ...  0.018647  0.181337  0.029523
17               6      17  0.009906  ...  0.001838  0.203546  0.049730
19               7      19  0.011601  ...  0.040405  0.273989  0.055285
20               8      20  0.049683  ...  0.018003  0.296616  0.043622
21               9      21  0.039353  ...  0.024233  0.408107  0.084852

[10 rows x 503 columns]

In [0]:
Qx.index = Qx.iloc[:, 1]
Qx = Qx.drop(['Unnamed: 0', 'workId'], axis=1)

In [56]:
Qx.T.shape

(501, 4684)

In [0]:
# give me recommendation for movies for kids!

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

words = "suggest movie for kids"
pred_df= pd.DataFrame([words], columns=['review'])
pred_df['review'] = pred_df['review'].apply(clean_review)
pred_vectors = userid_vectorizer.transform(pred_df['review'])
pred_v_df = pd.DataFrame(pred_vectors.toarray(), index=pred_df.index, columns=userid_vectorizer.get_feature_names())

In [73]:
predItemRating=pd.DataFrame(np.dot(pred_v_df.loc[0],Qx.T),index=Qx.index,columns=['Rating'])
topRecom=pd.DataFrame.sort_values(predItemRating,['Rating'],ascending=[0])[:4]

print("USER QUERY : ",words+"\n")
for i in topRecom.index:
  print(my_anime_df[my_anime_df['workId']==i]['workName'].iloc[0])
  print(my_anime_df[my_anime_df['workId']==i]['genres'].iloc[0])
  print("userRating: "+ str(my_anime_df[my_anime_df['workId']==i]['overallRating'].iloc[0])+"\n")

USER QUERY :  suggest movie for kids

Kimi_no_Na_wa
Romance Supernatural School Drama
userRating: 9

Koe_no_Katachi
Drama School Shounen
userRating: 5

Pokemon_Best_Wishes__Victini_to_Shiroki_Eiyuu_Reshiram
Adventure Comedy Drama Fantasy Kids
userRating: 5

Suzumiya_Haruhi_no_Shoushitsu
Comedy Mystery Romance School Sci Fi Supernatural
userRating: 10

In [71]:
# give me recommendation for movie with cars!

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

words = "suggest movie about cars"
pred_df= pd.DataFrame([words], columns=['review'])
pred_df['review'] = pred_df['review'].apply(clean_review)
pred_vectors = userid_vectorizer.transform(pred_df['review'])
pred_v_df = pd.DataFrame(pred_vectors.toarray(), index=pred_df.index, columns=userid_vectorizer.get_feature_names())

predItemRating=pd.DataFrame(np.dot(pred_v_df.loc[0],Qx.T),index=Qx.index,columns=['Rating'])
topRecom=pd.DataFrame.sort_values(predItemRating,['Rating'],ascending=[0])[2:5]

print("USER QUERY : ",words+"\n")
for i in topRecom.index:
  print(my_anime_df[my_anime_df['workId']==i]['workName'].iloc[0])
  print(my_anime_df[my_anime_df['workId']==i]['genres'].iloc[0])
  print("userRating: "+ str(my_anime_df[my_anime_df['workId']==i]['overallRating'].iloc[0])+"\n")

USER QUERY :  suggest movie about cars

Biohazard_4D-Executer
Action Adventure Military Horror
userRating: 4

Suzumiya_Haruhi_no_Shoushitsu
Comedy Mystery Romance School Sci Fi Supernatural
userRating: 10

Detective_Conan_Movie_07__Crossroad_in_the_Ancient_Capital
Adventure Mystery Comedy Police Shounen
userRating: 7

In [74]:
# give me recommendation for horror movie!

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

words = "suggest a horror movie"
pred_df= pd.DataFrame([words], columns=['review'])
pred_df['review'] = pred_df['review'].apply(clean_review)
pred_vectors = userid_vectorizer.transform(pred_df['review'])
pred_v_df = pd.DataFrame(pred_vectors.toarray(), index=pred_df.index, columns=userid_vectorizer.get_feature_names())

predItemRating=pd.DataFrame(np.dot(pred_v_df.loc[0],Qx.T),index=Qx.index,columns=['Rating'])
topRecom=pd.DataFrame.sort_values(predItemRating,['Rating'],ascending=[0])[2:6]

print("USER QUERY : ",words+"\n")
for i in topRecom.index:
  print(subset_df[subset_df['workId']==i]['workName'].iloc[0])
  print(subset_df[subset_df['workId']==i]['genres'].iloc[0])
  print("userRating: "+ str(subset_df[subset_df['workId']==i]['overallRating'].iloc[0])+"\n")

USER QUERY :  suggest a horror movie

Byousoku_5_Centimeter
Drama Romance Slice of Life
userRating: 10

Suzumiya_Haruhi_no_Shoushitsu
Comedy Mystery Romance School Sci Fi Supernatural
userRating: 9

Ookami_Kodomo_no_Ame_to_Yuki
Fantasy Slice of Life
userRating: 10

Detective_Conan_Movie_07__Crossroad_in_the_Ancient_Capital
Adventure Mystery Comedy Police Shounen
userRating: 7