In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [5]:
#Importing the data as a pandas dataframe and printing its shape

import pandas as pd
amazon_df = pd.read_csv("/content/Amazon_Responded_Oct05.csv") 
amazon_df.head()
amazon_df.shape

(462029, 25)

In [6]:
# Removing all Null values from the dataframe amazon_df and printing the new dimensions

amazon_clean = amazon_df.dropna(how="all")
amazon_clean.shape

(378134, 25)

In [7]:
#Splitting the tweet_created_at column using "Space" as a delimiter to get the month and date
DateField = amazon_clean["tweet_created_at"].str.split(" ", n = 6, expand = True) 
  
amazon_clean["WeekDay"]= DateField[0] 
amazon_clean["Month"]= DateField[1] 
amazon_clean["Date"]= DateField[2] 
amazon_clean["TimeStamp"]= DateField[3] 
amazon_clean["Geo"]= DateField[4] 
amazon_clean["Year"]= DateField[5]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
#Creating Create_Date column by joining the columns "Month" and "Date" in 'mmm dd' format

amazon_clean['Create_Date'] = amazon_clean[['Month', 'Date']].apply(lambda x: ' '.join(x), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
# Printing amazon_clean to check the new column "Create_Date"
amazon_clean.head(5)

                 id_str                tweet_created_at  ...  Year  Create_Date
1  '793270689780203520'  Tue Nov 01 01:57:25 +0000 2016  ...  2016       Nov 01
2  '793281386912354304'  Tue Nov 01 02:39:55 +0000 2016  ...  2016       Nov 01
3  '793501578766319616'  Tue Nov 01 17:14:53 +0000 2016  ...  2016       Nov 01
4  '793501657346682880'  Tue Nov 01 17:15:12 +0000 2016  ...  2016       Nov 01
5  '793502854459879424'  Tue Nov 01 17:19:57 +0000 2016  ...  2016       Nov 01

[5 rows x 32 columns]

In [10]:
# Converting Pandas Dataframe "amazon_clean" into Spark Dataframe "Tweet_sdf" and printing the first 10 rows

amazon_clean = amazon_clean.astype(str) # Converting pandas df to string first
Tweet_sdf = spark.createDataFrame(amazon_clean)
Tweet_sdf.show(10, False) # False allows us to show entire content of the columns

+--------------------+------------------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------+-------------+-------------+--------------------+------------------+------------------------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+-----+----+---------+-----+----+-----------+
|id_str              |tweet_created_at              |user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|user_description                                                                                                                              |user_location|user_verified|user_followers_count|user_friends_count|user_created_at               |tweet_language|text_                                                                                                                                     |favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|text                                                                                                                                     |WeekDay|Month|Date|TimeStamp|Geo  |Year|Create_Date|
+--------------------+------------------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------+-------------+-------------+--------------------+------------------+------------------------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+-----+----+---------+-----+----+-----------+
|'793270689780203520'|Tue Nov 01 01:57:25 +0000 2016|SeanEPanjab     |143515471.0|51287.0            |4079.0               |False         |74.0             |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503.0              |850.0             |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp Can you please DM me? A product I ordered last year never arrived.                                                            |0.0           |False    |AmazonHelp             |nan                      |85741735.0             |0.0          |False    |nan                                                                                                                                      |Tue    |Nov  |01  |01:57:25 |+0000|2016|Nov 01     |
|'793281386912354304'|Tue Nov 01 02:39:55 +0000 2016|AmazonHelp      |85741735.0 |2225450.0          |11366.0              |False         |796.0            |False         |We answer Amazon support questions 7 days a week. Support available in English / Deutsch / Español / Português / Français / Italiano / 日本語 |nan          |True         |149569.0            |53.0              |Wed Oct 28 04:17:54 +0000 2009|en            |@SeanEPanjab I'm sorry, we're unable to DM you. Was this order purchased on https://t.co/nUUp5MLhYl, or one of our other sites? ^CL       |0.0           |False    |SeanEPanjab            |7.93e+17                 |143515471.0            |0.0          |False    |nan                                                                                                                                      |Tue    |Nov  |01  |02:39:55 |+0000|2016|Nov 01     |
|'793501578766319616'|Tue Nov 01 17:14:53 +0000 2016|SeanEPanjab     |143515471.0|51287.0            |4079.0               |False         |74.0             |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503.0              |850.0             |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp It was purchased on https://t.co/gPWnuSkbwC.                                                                                  |0.0           |False    |AmazonHelp             |7.93e+17                 |85741735.0             |0.0          |False    |@AmazonHelp It was purchased on https://t.co/gPWnuSkbwC.                                                                                 |Tue    |Nov  |01  |17:14:53 |+0000|2016|Nov 01     |
|'793501657346682880'|Tue Nov 01 17:15:12 +0000 2016|SeanEPanjab     |143515471.0|51287.0            |4079.0               |False         |74.0             |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503.0              |850.0             |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp I am following you now, if it helps to DM.                                                                                    |0.0           |False    |AmazonHelp             |7.93e+17                 |85741735.0             |0.0          |False    |nan                                                                                                                                      |Tue    |Nov  |01  |17:15:12 |+0000|2016|Nov 01     |
|'793502854459879424'|Tue Nov 01 17:19:57 +0000 2016|AmazonHelp      |85741735.0 |2225450.0          |11366.0              |False         |796.0            |False         |We answer Amazon support questions 7 days a week. Support available in English / Deutsch / Español / Português / Français / Italiano / 日本語 |nan          |True         |149569.0            |53.0              |Wed Oct 28 04:17:54 +0000 2009|en            |@SeanEPanjab Please give us a call/chat so we can look into this order for you: https://t.co/hApLpMlfHN. ^HB                              |0.0           |False    |SeanEPanjab            |7.94e+17                 |143515471.0            |0.0          |False    |@SeanEPanjab Please give us a call/chat so we can look into this order for you: https://t.co/hApLpMlfHN. ^HB                             |Tue    |Nov  |01  |17:19:57 |+0000|2016|Nov 01     |
|'793504235400884224'|Tue Nov 01 17:25:26 +0000 2016|AmazonHelp      |85741735.0 |2225450.0          |11366.0              |False         |796.0            |False         |We answer Amazon support questions 7 days a week. Support available in English / Deutsch / Español / Português / Français / Italiano / 日本語 |nan          |True         |149569.0            |53.0              |Wed Oct 28 04:17:54 +0000 2009|en            |@SeanEPanjab Without providing any sensitive information, do the order details indicate that the item was ever shipped? ^SW               |0.0           |False    |SeanEPanjab            |7.94e+17                 |143515471.0            |0.0          |False    |nan                                                                                                                                      |Tue    |Nov  |01  |17:25:26 |+0000|2016|Nov 01     |
|'793511847899070465'|Tue Nov 01 17:55:41 +0000 2016|SeanEPanjab     |143515471.0|51287.0            |4079.0               |False         |74.0             |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503.0              |850.0             |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp It was shipped and possibly delivered to my old place of employment. But when I asked for it, no one had it. And so I wonder +|0.0           |False    |AmazonHelp             |7.94e+17                 |85741735.0             |0.0          |False    |nan                                                                                                                                      |Tue    |Nov  |01  |17:55:41 |+0000|2016|Nov 01     |
|'793511899279208449'|Tue Nov 01 17:55:54 +0000 2016|SeanEPanjab     |143515471.0|51287.0            |4079.0               |False         |74.0             |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503.0              |850.0             |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp if it was lost. I have the order #.                                                                                           |0.0           |False    |AmazonHelp             |7.94e+17                 |85741735.0             |0.0          |False    |nan                                                                                                                                      |Tue    |Nov  |01  |17:55:54 |+0000|2016|Nov 01     |
|'793513446633533440'|Tue Nov 01 18:02:03 +0000 2016|AmazonHelp      |85741735.0 |2225450.0          |11366.0              |False         |796.0            |False         |We answer Amazon support questions 7 days a week. Support available in English / Deutsch / Español / Português / Français / Italiano / 日本語 |nan          |True         |149569.0            |53.0              |Wed Oct 28 04:17:54 +0000 2009|en            |@SeanEPanjab I'm not able to access account info here. Please reach out by Phone/Chat so we can look at this: https://t.co/EKXRLsnxJu ^GL |0.0           |False    |SeanEPanjab            |7.94e+17                 |143515471.0            |0.0          |False    |@SeanEPanjab I'm not able to access account info here. Please reach out by Phone/Chat so we can look at this: https://t.co/EKXRLsnxJu ^GL|Tue    |Nov  |01  |18:02:03 |+0000|2016|Nov 01     |
|'793299404975247360'|Tue Nov 01 03:51:31 +0000 2016|aakashwangnoo   |71457972.0 |592.0              |471.0                |False         |11.0             |False         |Don't try to be GOD in your lives...Let HIM work in your lives...and see the magic that he weaves...                                          |New Delhi    |False        |234.0               |57.0              |Fri Sep 04 04:55:01 +0000 2009|en            |@JeffBezos @amazonIN @AmazonHelp Tring...Tring...Tring Who's There? Your Suffering Customers from India Mr. Bezos...Get Up and Help!      |0.0           |False    |JeffBezos              |nan                      |15506669.0             |0.0          |False    |nan                                                                                                                                      |Tue    |Nov  |01  |03:51:31 |+0000|2016|Nov 01     |
+--------------------+------------------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------+-------------+-------------+--------------------+------------------+------------------------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+-----+----+---------+-----+----+-----------+
only showing top 10 rows

In [11]:
# Checking the datatype of our Spark dataframe file Tweet_sdf
print(type(Tweet_sdf))

<class 'pyspark.sql.dataframe.DataFrame'>

In [12]:
# Checking the datatypes of each variable in Tweet_sdf
Tweet_sdf.printSchema()

root
 |-- id_str: string (nullable = true)
 |-- tweet_created_at: string (nullable = true)
 |-- user_screen_name: string (nullable = true)
 |-- user_id_str: string (nullable = true)
 |-- user_statuses_count: string (nullable = true)
 |-- user_favourites_count: string (nullable = true)
 |-- user_protected: string (nullable = true)
 |-- user_listed_count: string (nullable = true)
 |-- user_following: string (nullable = true)
 |-- user_description: string (nullable = true)
 |-- user_location: string (nullable = true)
 |-- user_verified: string (nullable = true)
 |-- user_followers_count: string (nullable = true)
 |-- user_friends_count: string (nullable = true)
 |-- user_created_at: string (nullable = true)
 |-- tweet_language: string (nullable = true)
 |-- text_: string (nullable = true)
 |-- favorite_count: string (nullable = true)
 |-- favorited: string (nullable = true)
 |-- in_reply_to_screen_name: string (nullable = true)
 |-- in_reply_to_status_id_str: string (nullable = true)
 |-- in_reply_to_user_id_str: string (nullable = true)
 |-- retweet_count: string (nullable = true)
 |-- retweeted: string (nullable = true)
 |-- text: string (nullable = true)
 |-- WeekDay: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- TimeStamp: string (nullable = true)
 |-- Geo: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Create_Date: string (nullable = true)

In [13]:
# Extracting columns 'id_str', 'tweet_created_at', 'user_verified', favourite_count', 'retweet_count' and 'text_' for our analysis and printing 20 rows
TweetDataCol = Tweet_sdf.select(Tweet_sdf.id_str, Tweet_sdf.Create_Date, Tweet_sdf.user_verified, Tweet_sdf.favorite_count, Tweet_sdf.retweet_count, Tweet_sdf.text_)
TweetDataCol.show(20, False)

+--------------------+-----------+-------------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id_str              |Create_Date|user_verified|favorite_count|retweet_count|text_                                                                                                                                                        |
+--------------------+-----------+-------------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
|'793270689780203520'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp Can you please DM me? A product I ordered last year never arrived.                                                                               |
|'793281386912354304'|Nov 01     |True         |0.0           |0.0          |@SeanEPanjab I'm sorry, we're unable to DM you. Was this order purchased on https://t.co/nUUp5MLhYl, or one of our other sites? ^CL                          |
|'793501578766319616'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp It was purchased on https://t.co/gPWnuSkbwC.                                                                                                     |
|'793501657346682880'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp I am following you now, if it helps to DM.                                                                                                       |
|'793502854459879424'|Nov 01     |True         |0.0           |0.0          |@SeanEPanjab Please give us a call/chat so we can look into this order for you: https://t.co/hApLpMlfHN. ^HB                                                 |
|'793504235400884224'|Nov 01     |True         |0.0           |0.0          |@SeanEPanjab Without providing any sensitive information, do the order details indicate that the item was ever shipped? ^SW                                  |
|'793511847899070465'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp It was shipped and possibly delivered to my old place of employment. But when I asked for it, no one had it. And so I wonder +                   |
|'793511899279208449'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp if it was lost. I have the order #.                                                                                                              |
|'793513446633533440'|Nov 01     |True         |0.0           |0.0          |@SeanEPanjab I'm not able to access account info here. Please reach out by Phone/Chat so we can look at this: https://t.co/EKXRLsnxJu ^GL                    |
|'793299404975247360'|Nov 01     |False        |0.0           |0.0          |@JeffBezos @amazonIN @AmazonHelp Tring...Tring...Tring Who's There? Your Suffering Customers from India Mr. Bezos...Get Up and Help!                         |
|'793301295255945216'|Nov 01     |True         |0.0           |0.0          |@aakashwangnoo Hi there, kindly write back to us with the details requested so we can proceed further with this.  ^KJ                                        |
|'793407430344310785'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp How many times do you want to write back to you guys??? Check the complaints through email regarding  Order 171-1338898-5999507.                 |
|'793423313674571776'|Nov 01     |True         |0.0           |0.0          |@aakashwangnoo Hi! We have responded to you here: https://t.co/v4YVCa3rff ^SG(1/2)                                                                           |
|'793423314333134850'|Nov 01     |True         |0.0           |0.0          |@aakashwangnoo Please don’t provide your order details as we consider them to be personal info. Our page is visible to public. ^SG(2/2)                      |
|'793467086869630977'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp @amazonIN I am providing my order details as even after providing that ur CC Team is repeatedly shooting me cut copy paste email                 |
|'793492430666498050'|Nov 01     |True         |0.0           |0.0          |@aakashwangnoo Hi, I believe we have already got back to you on this. Kindly check for the correspondence here: https://t.co/NTkrxpsbHJ ^AB                  |
|'793535036213501952'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp @amazonIN @JeffBezos @consumeraction @ConsumerAffairs @ConsumersUnion You want to silent my voice and call that as Answers to me                 |
|'793535221329113088'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp @amazonIN @JeffBezos @consumeraction @ConsumerAffairs @ConsumersUnion SHAME on you Team Amazon India...SHAME SHAME SHAME!!!                      |
|'793537840533471232'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp @amazonIN @JeffBezos @consumeraction @ConsumerAffairs @ConsumersUnion Please see attachments. These are Amazon responses. https://t.co/W9FcqQVtCC|
|'793538125884645376'|Nov 01     |False        |0.0           |0.0          |@AmazonHelp @amazonIN @JeffBezos @consumeraction @ConsumerAffairs @ConsumersUnion and these are my responses. https://t.co/vTwhtX5oBt                        |
+--------------------+-----------+-------------+--------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [0]:
# Task 1
# Step 1: Remove the records where “user_verified” is “FALSE”.
# Using Filter function to remove the rows with “user_verified” as “FALSE”

TweetDatafilter = TweetDataCol.rdd.filter(lambda TweetDataCol:'True' in  TweetDataCol[2])

In [15]:
# Task 1 # Step 1
# Printing 5 rows of TweetDatafilter to check the filter
TweetDatafilter.take(5)

[Row(id_str="'793281386912354304'", Create_Date='Nov 01', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_="@SeanEPanjab I'm sorry, we're unable to DM you. Was this order purchased on https://t.co/nUUp5MLhYl, or one of our other sites? ^CL"),
 Row(id_str="'793502854459879424'", Create_Date='Nov 01', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_='@SeanEPanjab Please give us a call/chat so we can look into this order for you: https://t.co/hApLpMlfHN. ^HB'),
 Row(id_str="'793504235400884224'", Create_Date='Nov 01', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_='@SeanEPanjab Without providing any sensitive information, do the order details indicate that the item was ever shipped? ^SW'),
 Row(id_str="'793513446633533440'", Create_Date='Nov 01', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_="@SeanEPanjab I'm not able to access account info here. Please reach out by Phone/Chat so we can look at this: https://t.co/EKXRLsnxJu ^GL"),
 Row(id_str="'793301295255945216'", Create_Date='Nov 01', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_='@aakashwangnoo Hi there, kindly write back to us with the details requested so we can proceed further with this.  ^KJ')]

In [16]:
# Task 1 # Step 1
# Obtaining the number of rows from the filtered dataset TweetDatafilter

TweetDatafilter.count()

171899

In [17]:
#Converting the resultant pipelined RDD to Spark Dataframe 

from pyspark.sql import SparkSession
from pyspark import SparkContext
#sc = SparkContext()
#tweets = spark.sparkContext.parallelize(TweetDatafilter.collect())
TweetDatafilter = TweetDatafilter.toDF()
type(TweetDatafilter)

pyspark.sql.dataframe.DataFrame

In [0]:
# Task 1 
# Step 2: For the remaining records (“user_verified” is “TRUE”), group by Create_date, and count the number of tweets for each Create_Date.

import pyspark.sql.functions as f
groupeByDate = TweetDatafilter.groupby('Create_Date').count().withColumnRenamed("count","tweet_count")

In [19]:
# Task 1 # Step 2
# Sorting the result of groupby operation to arrange in ascending order and showing the first 100 rows
# We obtain the highest number of tweets for the date "Jan 03" and the number of tweets are 1536

groupeByDate.sort((groupeByDate.tweet_count).desc()).show(100)

+-----------+-----------+
|Create_Date|tweet_count|
+-----------+-----------+
|     Jan 03|       1536|
|     Jan 10|       1508|
|     Jan 11|       1496|
|     Jan 12|       1410|
|     Jan 06|       1364|
|     Jan 07|       1360|
|     Jan 20|       1342|
|     Mar 02|       1298|
|     Jan 13|       1295|
|     Jan 21|       1292|
|     Jan 14|       1290|
|     Jan 18|       1286|
|     Dec 15|       1279|
|     Jan 24|       1259|
|     Nov 18|       1249|
|     Dec 03|       1201|
|     Jan 02|       1196|
|     Jun 27|       1192|
|     Jul 04|       1190|
|     Jan 19|       1175|
|     Jan 25|       1163|
|     Jan 23|       1149|
|     Jan 08|       1143|
|     Jan 17|       1124|
|     May 11|       1120|
|     Jul 03|       1112|
|     Mar 30|       1109|
|     Apr 05|       1089|
|     Jan 26|       1083|
|     Jan 27|       1080|
|     Jun 20|       1074|
|     Jan 04|       1071|
|     Feb 22|       1058|
|     Nov 05|       1058|
|     Feb 09|       1054|
|     Jun 23|       1045|
|     Jun 30|       1040|
|     Jan 22|       1024|
|     May 03|       1020|
|     Mar 08|       1019|
|     Jul 29|       1019|
|     Mar 29|       1018|
|     Apr 18|       1016|
|     Jan 16|       1007|
|     Jan 15|       1006|
|     Jun 07|       1004|
|     Jan 09|       1003|
|     Feb 02|        987|
|     Jun 02|        982|
|     Dec 10|        979|
|     Dec 13|        979|
|     Dec 26|        978|
|     Jan 30|        968|
|     Feb 28|        968|
|     Feb 03|        960|
|     Jan 28|        956|
|     Apr 21|        955|
|     Jun 28|        955|
|     Feb 14|        953|
|     Nov 29|        952|
|     Feb 23|        940|
|     Feb 08|        926|
|     Jul 05|        925|
|     Feb 16|        924|
|     Mar 31|        921|
|     Feb 13|        921|
|     Feb 15|        920|
|     Dec 11|        918|
|     Jan 31|        914|
|     Nov 23|        907|
|     Mar 09|        906|
|     Feb 01|        902|
|     Feb 21|        898|
|     Dec 04|        884|
|     Feb 10|        880|
|     Apr 14|        878|
|     Nov 02|        878|
|     Feb 27|        876|
|     Dec 01|        875|
|     Feb 07|        875|
|     Apr 01|        872|
|     Feb 04|        869|
|     Feb 11|        868|
|     Jul 16|        864|
|     Apr 10|        863|
|     May 24|        843|
|     Feb 24|        835|
|     Dec 31|        835|
|     Dec 05|        824|
|     Dec 21|        819|
|     Jul 19|        817|
|     May 29|        816|
|     Feb 06|        814|
|     May 19|        802|
|     Jun 25|        801|
|     May 13|        798|
|     Jun 13|        792|
|     Nov 20|        789|
|     Feb 25|        786|
|     Jul 11|        783|
+-----------+-----------+
only showing top 100 rows

In [0]:
# Task 1 # Step 3
# Filter the records with the date of highest number of tweets, i.e., Jan 03

Step3Data = TweetDatafilter
Step3Data = Step3Data.rdd.filter(lambda Step3Data:'Jan 03' in  Step3Data[1])

In [21]:
# Displaying first 5 records
Step3Data.take(5)

[Row(id_str="'816139627270721537'", Create_Date='Jan 03', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_="@mcp111 Hey! We'll have this looked into internally. Thanks for your patience. ^HK"),
 Row(id_str="'816357712732819467'", Create_Date='Jan 03', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_="@mcp111 Hi there, you can change the country from the settings. Please reach us via the link provided earlier and we'll help you out, ^VM"),
 Row(id_str="'816167583263162369'", Create_Date='Jan 03', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_="@stevebrowne Hi Steve, sorry to hear this. As we can't view accounts here, please contact here for more options: https://t.co/JzP7hlA23B ^CJ"),
 Row(id_str="'816326113660174336'", Create_Date='Jan 03', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_="@boozysmurf We'd like the chance to look into this w/ you &amp; investigate further. Pls reach out by phone/chat: https://t.co/3pBuw1SV0L ^KD"),
 Row(id_str="'816359349358575616'", Create_Date='Jan 03', user_verified='True', favorite_count='0.0', retweet_count='0.0', text_='@MeghanSuslak If you have the tracking ID from the shipping label, please contact us by phone or chat here: https://t.co/CYqkdUakWJ ^GL')]

In [22]:
# Task 1 # Step 3
# Converting Step3Data to Spark dataframe
Step3Data = Step3Data.toDF()
type(Step3Data)

pyspark.sql.dataframe.DataFrame

In [0]:
# Task 1 # Step 3
# Converting columns user_favourites_count and retweet_count from string data type to integer data type

from pyspark.sql.types import IntegerType
Step3Data = Step3Data.withColumn("favorite_count", Step3Data["favorite_count"].cast(IntegerType()))
Step3Data = Step3Data.withColumn("retweet_count", Step3Data["retweet_count"].cast(IntegerType()))

In [24]:
# Checking the datatypes of columns
Step3Data.printSchema()

root
 |-- id_str: string (nullable = true)
 |-- Create_Date: string (nullable = true)
 |-- user_verified: string (nullable = true)
 |-- favorite_count: integer (nullable = true)
 |-- retweet_count: integer (nullable = true)
 |-- text_: string (nullable = true)

In [0]:
# Task 1 # Step 3
# Calculating the sum of favourite counts and retweet counts for each tweet from Jan 03

Step3Data = Step3Data.withColumn('Sum_favourites_retweets', Step3Data.favorite_count + Step3Data.retweet_count)

In [26]:
# Checking the result by printing 5 rows
Step3Data.take(5)

[Row(id_str="'816139627270721537'", Create_Date='Jan 03', user_verified='True', favorite_count=0, retweet_count=0, text_="@mcp111 Hey! We'll have this looked into internally. Thanks for your patience. ^HK", Sum_favourites_retweets=0),
 Row(id_str="'816357712732819467'", Create_Date='Jan 03', user_verified='True', favorite_count=0, retweet_count=0, text_="@mcp111 Hi there, you can change the country from the settings. Please reach us via the link provided earlier and we'll help you out, ^VM", Sum_favourites_retweets=0),
 Row(id_str="'816167583263162369'", Create_Date='Jan 03', user_verified='True', favorite_count=0, retweet_count=0, text_="@stevebrowne Hi Steve, sorry to hear this. As we can't view accounts here, please contact here for more options: https://t.co/JzP7hlA23B ^CJ", Sum_favourites_retweets=0),
 Row(id_str="'816326113660174336'", Create_Date='Jan 03', user_verified='True', favorite_count=0, retweet_count=0, text_="@boozysmurf We'd like the chance to look into this w/ you &amp; investigate further. Pls reach out by phone/chat: https://t.co/3pBuw1SV0L ^KD", Sum_favourites_retweets=0),
 Row(id_str="'816359349358575616'", Create_Date='Jan 03', user_verified='True', favorite_count=0, retweet_count=0, text_='@MeghanSuslak If you have the tracking ID from the shipping label, please contact us by phone or chat here: https://t.co/CYqkdUakWJ ^GL', Sum_favourites_retweets=0)]

In [0]:
# Task 1 # Step 3
# Selecting top 100 tweets with highest sum of favourite_count + retweet_count

from pyspark.sql.functions import desc 
Step3DataTop100 = Step3Data.sort(desc("Sum_favourites_retweets")).limit(100)

In [28]:
# Task 1 # Step 3
# Checking the result by printing first 20 rows
Step3DataTop100.show()

+--------------------+-----------+-------------+--------------+-------------+--------------------+-----------------------+
|              id_str|Create_Date|user_verified|favorite_count|retweet_count|               text_|Sum_favourites_retweets|
+--------------------+-----------+-------------+--------------+-------------+--------------------+-----------------------+
|'816329761530093568'|     Jan 03|         True|             4|            1|@amazon worst sho...|                      5|
|'816083406962434048'|     Jan 03|         True|             2|            1|@ItsJosshA We alw...|                      3|
|'816086117938319360'|     Jan 03|         True|             2|            0|@ItsJosshA Oh no!...|                      2|
|'816095108013654017'|     Jan 03|         True|             1|            1|@KStefl Sounds li...|                      2|
|'816109446069911554'|     Jan 03|         True|             1|            1|@Schoey1992 Happy...|                      2|
|'816157517428523008'|     Jan 03|         True|             1|            1|@ratbones666 You ...|                      2|
|'816217909819297792'|     Jan 03|         True|             2|            0|@ThorpPerrow Awww...|                      2|
|'816314295680110593'|     Jan 03|         True|             2|            0|@thedexterouz Hi!...|                      2|
|'816090553595084800'|     Jan 03|         True|             1|            0|@matt_linsley Ple...|                      1|
|'816165445925474304'|     Jan 03|         True|             1|            0|@VlSlT Sorry to h...|                      1|
|'816323706431668226'|     Jan 03|         True|             1|            0|@PPramod2041984 H...|                      1|
|'816190084546498560'|     Jan 03|         True|             1|            0|@mailstosandeep H...|                      1|
|'816072943495249921'|     Jan 03|         True|             1|            0|@Elidan_8 Here's ...|                      1|
|'816074813408165888'|     Jan 03|         True|             1|            0|@joyfulneesh Than...|                      1|
|'816077071801810944'|     Jan 03|         True|             1|            0|@brooklynnnross I...|                      1|
|'816086664053456896'|     Jan 03|         True|             1|            0|@DurhamBelle I'm ...|                      1|
|'816092970168549376'|     Jan 03|         True|             1|            0|@heypardeep We're...|                      1|
|'816093471610195968'|     Jan 03|         True|             1|            0|@__NaijaDrew Sorr...|                      1|
|'816203796342833152'|     Jan 03|         True|             1|            0|@magsophazjon Ple...|                      1|
|'816204084709654528'|     Jan 03|         True|             1|            0|@magsophazjon Hey...|                      1|
+--------------------+-----------+-------------+--------------+-------------+--------------------+-----------------------+
only showing top 20 rows

In [29]:
# Task 1 # Step 3
# Selecting column text_ from Task3DataTop100 to perform word count(map-reduce) for the tweets

Step3Data_tweets = Step3DataTop100.select("text_").rdd.flatMap(lambda x: x).collect()
Step3Data_tweets[0:5]

['@amazon worst shopping  experience,  no service, no substantial reply to complaints, no delivery for 1 week post guarantee date.',
 '@ItsJosshA We always aim to deliver by the date given in your confirmation email. Have we missed that date? Any update in tracking?  ^NF',
 "@ItsJosshA Oh no! I'm sorry! Please reach out to us so that we can look into options: https://t.co/hApLpMlfHN. ^JO",
 '@KStefl Sounds like you know what to add to your Halloween playlist for this year! ^BV',
 '@Schoey1992 Happy Birthday, Matt! #FriendsForever #FriendshipGoals ^JO']

In [0]:
# Creating Spark Context
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [31]:
# Task 1 # Step 3
# Reading 'tweet' to a RDD object using spark context
tweet_rdd = sc.parallelize(Step3Data_tweets)
tweet_rdd.take(5)

['@amazon worst shopping  experience,  no service, no substantial reply to complaints, no delivery for 1 week post guarantee date.',
 '@ItsJosshA We always aim to deliver by the date given in your confirmation email. Have we missed that date? Any update in tracking?  ^NF',
 "@ItsJosshA Oh no! I'm sorry! Please reach out to us so that we can look into options: https://t.co/hApLpMlfHN. ^JO",
 '@KStefl Sounds like you know what to add to your Halloween playlist for this year! ^BV',
 '@Schoey1992 Happy Birthday, Matt! #FriendsForever #FriendshipGoals ^JO']

In [32]:
type(tweet_rdd)

pyspark.rdd.RDD

In [0]:
# Task 1 # Step 3
# Cleaning text data to count word frequency 

import string
import re

def clean_tweet(x):
  
  # Delete all the URLs in the tweets
  text00 = re.sub(r'www\S+', '', x)
  text01 = re.sub(r'http\S+', '', text00)
  
  # Delete all the numbers in the tweets
  text1 = ''.join([i for i in text01 if not i.isdigit()])
  
  # Delete all the punctuation marks in the tweets
  text2 = text1.translate(str.maketrans('','',string.punctuation))
  
  # Convert text to LOWERCASE
  text3 = text2.lower()

  return text3

In [35]:
# Task 1 # Step 3
# Cleaning the text of tweets: 1. Removing URLs, 2. Removing non-alphabets, 3. Lowercase 
clean_tweet_rdd = tweet_rdd.map(clean_tweet)
clean_tweet_rdd.take(10)

['amazon worst shopping  experience  no service no substantial reply to complaints no delivery for  week post guarantee date',
 'itsjossha we always aim to deliver by the date given in your confirmation email have we missed that date any update in tracking  nf',
 'itsjossha oh no im sorry please reach out to us so that we can look into options  jo',
 'kstefl sounds like you know what to add to your halloween playlist for this year bv',
 'schoey happy birthday matt friendsforever friendshipgoals jo',
 'ratbones you so fancy you already knooow ep',
 'thorpperrow a happy birthday you dont look a day over   pass on your details here  for lil surprise rs',
 'thedexterouz hi wed like to help when you have a moment please connect with us here   yp',
 'mattlinsley please keep us posted on this and let us know if it doesnt arrive tomorrow bv',
 'vlslt sorry to hear that contact us here  and well look into it for you as']

In [40]:
# Task 1 # Step 3
# Building Map function, printing 20 key-value pairs
map = clean_tweet_rdd.flatMap(lambda line: line.split(" ")).map(lambda word: (word, 1))
map.take(20)

[('amazon', 1),
 ('worst', 1),
 ('shopping', 1),
 ('', 1),
 ('experience', 1),
 ('', 1),
 ('no', 1),
 ('service', 1),
 ('no', 1),
 ('substantial', 1),
 ('reply', 1),
 ('to', 1),
 ('complaints', 1),
 ('no', 1),
 ('delivery', 1),
 ('for', 1),
 ('', 1),
 ('week', 1),
 ('post', 1),
 ('guarantee', 1)]

In [41]:
# Task 1 # Step 3
# Building Reduce function, printing 20 key-value pairs with word count
counts = map.reduceByKey(lambda a, b: a + b)
counts.take(20)

[('amazon', 7),
 ('worst', 1),
 ('', 73),
 ('no', 5),
 ('service', 1),
 ('substantial', 1),
 ('delivery', 6),
 ('week', 1),
 ('itsjossha', 2),
 ('we', 23),
 ('always', 3),
 ('in', 12),
 ('confirmation', 1),
 ('have', 18),
 ('update', 2),
 ('tracking', 5),
 ('oh', 1),
 ('im', 13),
 ('out', 6),
 ('us', 28)]

In [42]:
# Task 1 # Step 3
# Total number of distinct words
print(len(counts.collect()))

608

In [43]:
# Task 1 # Step 3
# Final word count for all words from 100 tweets
countsSorted = counts.takeOrdered(608) # Conditioned on that number of characters in the string should be at least 1
countsSorted

[('', 73),
 ('a', 25),
 ('ab', 1),
 ('abhinavsaroj', 4),
 ('able', 3),
 ('about', 4),
 ('aboutasix', 1),
 ('above', 2),
 ('access', 3),
 ('account', 2),
 ('accttypically', 1),
 ('add', 1),
 ('address', 1),
 ('adibaddy', 1),
 ('advise', 1),
 ('ae', 3),
 ('af', 2),
 ('aim', 2),
 ('ak', 1),
 ('alerts', 2),
 ('alexa', 1),
 ('alexisgraham', 1),
 ('allow', 1),
 ('already', 1),
 ('always', 3),
 ('alyssagoldman', 3),
 ('am', 1),
 ('amazon', 7),
 ('amazonhelp', 1),
 ('amazonin', 2),
 ('ambermullennn', 1),
 ('amp', 1),
 ('an', 7),
 ('and', 17),
 ('any', 8),
 ('anything', 1),
 ('apologies', 2),
 ('app', 6),
 ('application', 1),
 ('appreciation', 1),
 ('ar', 3),
 ('are', 2),
 ('arent', 1),
 ('ariannadelbene', 1),
 ('arrange', 1),
 ('arrive', 6),
 ('arrived', 3),
 ('arrives', 1),
 ('as', 4),
 ('ask', 1),
 ('asked', 1),
 ('assist', 2),
 ('assistance', 1),
 ('at', 6),
 ('athena', 1),
 ('athenarivera', 1),
 ('atoz', 1),
 ('attention', 2),
 ('availability', 1),
 ('available', 2),
 ('aw', 1),
 ('babajabalpuri', 4),
 ('back', 1),
 ('bad', 2),
 ('baileyoz', 1),
 ('bayou', 1),
 ('bbyuniversecb', 1),
 ('be', 8),
 ('becoming', 1),
 ('been', 2),
 ('being', 1),
 ('below', 1),
 ('better', 3),
 ('bingewatch', 1),
 ('birthday', 2),
 ('books', 1),
 ('bringing', 2),
 ('brooklynnnross', 1),
 ('browser', 1),
 ('business', 2),
 ('but', 3),
 ('bv', 2),
 ('by', 8),
 ('ca', 1),
 ('can', 26),
 ('cancel', 1),
 ('cant', 2),
 ('card', 2),
 ('carriers', 1),
 ('case', 2),
 ('caused', 1),
 ('cd', 1),
 ('certainly', 1),
 ('chadrallen', 1),
 ('chat', 1),
 ('check', 1),
 ('checking', 1),
 ('checkout', 1),
 ('chunkkyyy', 2),
 ('cj', 2),
 ('cl', 2),
 ('claim', 1),
 ('cleared', 1),
 ('click', 1),
 ('close', 1),
 ('co', 1),
 ('cod', 1),
 ('cold', 1),
 ('colleagues', 1),
 ('collection', 1),
 ('complaints', 1),
 ('concern', 1),
 ('concerned', 1),
 ('concerns', 1),
 ('confirm', 1),
 ('confirmation', 1),
 ('connect', 1),
 ('connecting', 1),
 ('contact', 11),
 ('contacted', 2),
 ('contacting', 1),
 ('could', 1),
 ('couriers', 1),
 ('crashrider', 1),
 ('create', 1),
 ('credit', 1),
 ('cs', 1),
 ('ctrl', 1),
 ('customer', 2),
 ('customers', 1),
 ('customs', 1),
 ('cute', 1),
 ('cutting', 1),
 ('damaged', 1),
 ('danadug', 1),
 ('danjbalkwill', 1),
 ('danny', 1),
 ('darshanhsheth', 3),
 ('date', 5),
 ('day', 4),
 ('days', 1),
 ('delay', 1),
 ('delighted', 1),
 ('deliver', 4),
 ('delivering', 2),
 ('delivery', 6),
 ('department', 2),
 ('desktop', 1),
 ('destination', 1),
 ('details', 6),
 ('device', 1),
 ('did', 1),
 ('didnt', 1),
 ('direct', 1),
 ('directly', 1),
 ('dishanisen', 1),
 ('dmarie', 1),
 ('do', 4),
 ('doesnt', 5),
 ('dont', 5),
 ('doug', 1),
 ('download', 1),
 ('downloadsr', 1),
 ('dragonflyeye', 2),
 ('drop', 1),
 ('durhambelle', 1),
 ('earlier', 2),
 ('earliest', 1),
 ('edd', 1),
 ('edit', 1),
 ('elaborate', 1),
 ('elidan', 1),
 ('eligible', 1),
 ('else', 1),
 ('email', 5),
 ('emmawrafter', 1),
 ('en', 2),
 ('encourage', 1),
 ('end', 1),
 ('enjoying', 2),
 ('ep', 1),
 ('error', 1),
 ('est', 1),
 ('eumaeusodyssey', 4),
 ('eval', 1),
 ('evening', 1),
 ('exchange', 1),
 ('expected', 1),
 ('experience', 9),
 ('f', 1),
 ('fancy', 1),
 ('features', 1),
 ('feedback', 7),
 ('feel', 4),
 ('filled', 1),
 ('find', 2),
 ('fitbit', 1),
 ('flagging', 1),
 ('following', 2),
 ('for', 50),
 ('form', 1),
 ('forwarded', 1),
 ('found', 1),
 ('free', 2),
 ('friendly', 1),
 ('friendsforever', 1),
 ('friendshipgoals', 1),
 ('from', 2),
 ('frustrating', 1),
 ('fulfilled', 1),
 ('fun', 1),
 ('further', 5),
 ('gerzinal', 1),
 ('get', 3),
 ('getting', 2),
 ('ghostfacezach', 1),
 ('give', 1),
 ('given', 1),
 ('gl', 3),
 ('glad', 3),
 ('goes', 1),
 ('great', 2),
 ('guarantee', 3),
 ('gxb', 1),
 ('had', 1),
 ('halloween', 1),
 ('happen', 1),
 ('happy', 5),
 ('happynewyear', 1),
 ('has', 3),
 ('hasnt', 1),
 ('have', 18),
 ('hb', 4),
 ('hear', 4),
 ('help', 8),
 ('helped', 1),
 ('helpep', 1),
 ('helps', 3),
 ('here', 32),
 ('heres', 1),
 ('hey', 9),
 ('heypardeep', 1),
 ('hg', 2),
 ('hi', 14),
 ('hk', 1),
 ('hope', 3),
 ('how', 3),
 ('hrs', 1),
 ('i', 9),
 ('identify', 1),
 ('if', 22),
 ('im', 13),
 ('improve', 1),
 ('in', 12),
 ('inconvenience', 2),
 ('incorrect', 1),
 ('indicate', 1),
 ('indicates', 1),
 ('info', 4),
 ('information', 1),
 ('instances', 1),
 ('interest', 2),
 ('internally', 1),
 ('into', 6),
 ('investigate', 1),
 ('is', 13),
 ('isnt', 2),
 ('issue', 2),
 ('issues', 1),
 ('it', 17),
 ('item', 5),
 ('items', 1),
 ('its', 3),
 ('itsjossha', 2),
 ('ive', 1),
 ('izzyscott', 1),
 ('ja', 3),
 ('jaemulaa', 1),
 ('jeedas', 1),
 ('jj', 1),
 ('jo', 6),
 ('john', 1),
 ('joke', 1),
 ('joyfulneesh', 1),
 ('jrc', 1),
 ('jtreadway', 1),
 ('katmcor', 1),
 ('kd', 1),
 ('keep', 7),
 ('keeps', 1),
 ('kindakuls', 1),
 ('kindle', 3),
 ('kindly', 1),
 ('knooow', 1),
 ('know', 13),
 ('knowing', 1),
 ('kstefl', 1),
 ('late', 2),
 ('leave', 3),
 ('let', 7),
 ('letting', 2),
 ('lg', 1),
 ('li', 1),
 ('like', 7),
 ('lil', 1),
 ('link', 6),
 ('lisadeee', 1),
 ('list', 1),
 ('lizzieejones', 1),
 ('location', 1),
 ('longer', 1),
 ('look', 7),
 ('looked', 1),
 ('looking', 2),
 ('love', 1),
 ('magsophazjon', 2),
 ('mailstosandeep', 1),
 ('make', 2),
 ('manage', 2),
 ('mark', 1),
 ('matt', 1),
 ('mattlinsley', 1),
 ('may', 2),
 ('mcp', 1),
 ('me', 3),
 ('media', 1),
 ('medicine', 1),
 ('membership', 1),
 ('menu', 1),
 ('method', 1),
 ('missed', 1),
 ('mm', 1),
 ('mobile', 1),
 ('modify', 1),
 ('moment', 1),
 ('more', 3),
 ('most', 3),
 ('mpos', 1),
 ('mrpandit', 1),
 ('much', 2),
 ('naijadrew', 1),
 ('need', 4),
 ('never', 1),
 ('new', 3),
 ('newest', 1),
 ('next', 1),
 ('nf', 1),
 ('night', 1),
 ('no', 5),
 ('not', 4),
 ('now', 3),
 ('number', 1),
 ('of', 3),
 ('off', 1),
 ('oh', 1),
 ('on', 14),
 ('online', 1),
 ('only', 1),
 ('open', 1),
 ('options', 3),
 ('or', 4),
 ('order', 10),
 ('orders', 1),
 ('other', 1),
 ('our', 10),
 ('out', 6),
 ('over', 1),
 ('packages', 1),
 ('packaging', 1),
 ('page', 1),
 ('pass', 2),
 ('patience', 1),
 ('pawansbaish', 2),
 ('pawsome', 1),
 ('payment', 2),
 ('phone', 2),
 ('phonechat', 1),
 ('picture', 1),
 ('pk', 1),
 ('place', 1),
 ('plainbananas', 1),
 ('playlist', 1),
 ('please', 20),
 ('pls', 3),
 ('pm', 1),
 ('post', 1),
 ('posted', 6),
 ('ppramod', 1),
 ('pretty', 1),
 ('prime', 1),
 ('process', 1),
 ('product', 1),
 ('profgambs', 1),
 ('promised', 1),
 ('provided', 3),
 ('puppy', 1),
 ('purchased', 1),
 ('put', 1),
 ('qualify', 1),
 ('quality', 1),
 ('queenattallah', 1),
 ('questions', 2),
 ('quickly', 1),
 ('ra', 1),
 ('ratbones', 1),
 ('rather', 2),
 ('reach', 3),
 ('reading', 1),
 ('real', 1),
 ('receive', 1),
 ('received', 1),
 ('receiver', 1),
 ('recent', 1),
 ('recommend', 1),
 ('redeeming', 1),
 ('refund', 2),
 ('refunds', 1),
 ('regarding', 1),
 ('regret', 1),
 ('relevant', 1),
 ('repeated', 1),
 ('replacement', 1),
 ('replacements', 1),
 ('reply', 2),
 ('report', 2),
 ('reported', 1),
 ('request', 4),
 ('requested', 2),
 ('resolved', 1),
 ('return', 3),
 ('returnexchange', 1),
 ('returnreplacement', 1),
 ('returns', 1),
 ('review', 4),
 ('reviewed', 1),
 ('reviews', 1),
 ('right', 1),
 ('rm', 1),
 ('rockerdharm', 1),
 ('ronaldorlemes', 1),
 ('roxsi', 1),
 ('rs', 2),
 ('rw', 1),
 ('rwwishart', 1),
 ('saififiroz', 2),
 ('same', 1),
 ('sb', 1),
 ('scan', 3),
 ('schoey', 1),
 ('see', 3),
 ('seeing', 1),
 ('seentitties', 1),
 ('select', 1),
 ('seller', 5),
 ('send', 1),
 ('sent', 1),
 ('separate', 1),
 ('service', 1),
 ('settings', 1),
 ('sgtwinters', 1),
 ('sh', 6),
 ('shall', 1),
 ('share', 1),
 ('shared', 1),
 ('sharing', 1),
 ('sharrypigtails', 1),
 ('ship', 1),
 ('shipment', 1),
 ('shirt', 1),
 ('shopping', 3),
 ('shoppingsr', 1),
 ('should', 2),
 ('shout', 1),
 ('shoutout', 1),
 ('showing', 1),
 ('site', 3),
 ('sj', 6),
 ('sjbooktweeter', 2),
 ('so', 18),
 ('social', 1),
 ('some', 2),
 ('soon', 2),
 ('sorry', 21),
 ('sorted', 2),
 ('sound', 1),
 ('sounds', 1),
 ('speak', 1),
 ('specific', 1),
 ('spotify', 1),
 ('sr', 3),
 ('stadesse', 1),
 ('start', 1),
 ('status', 2),
 ('stay', 1),
 ('stayhealthy', 1),
 ('steps', 4),
 ('still', 1),
 ('stock', 2),
 ('stopped', 1),
 ('submit', 1),
 ('substantial', 1),
 ('supervisor', 1),
 ('support', 3),
 ('sure', 4),
 ('surprise', 1),
 ('sydneycohenour', 1),
 ('tamarastampone', 1),
 ('td', 1),
 ('team', 2),
 ('teams', 2),
 ('text', 1),
 ('than', 1),
 ('thank', 1),
 ('thanks', 11),
 ('that', 18),
 ('thats', 2),
 ('thblomme', 1),
 ('the', 65),
 ('thedexterouz', 1),
 ('them', 1),
 ('then', 3),
 ('there', 2),
 ('these', 4),
 ('they', 1),
 ('things', 1),
 ('thirdparty', 2),
 ('this', 27),
 ('thorpperrow', 1),
 ('through', 3),
 ('time', 3),
 ('tm', 2),
 ('to', 64),
 ('tomorrow', 2),
 ('tomroe', 1),
 ('tracking', 5),
 ('transit', 1),
 ('tried', 1),
 ('trouble', 3),
 ('truly', 2),
 ('try', 3),
 ('trying', 1),
 ('tuned', 1),
 ('twitter', 2),
 ('typically', 2),
 ('unable', 2),
 ('understand', 1),
 ('unlinkinglinking', 1),
 ('until', 2),
 ('uoduckscotty', 1),
 ('up', 2),
 ('update', 2),
 ('updated', 1),
 ('updates', 3),
 ('upride', 1),
 ('us', 28),
 ('use', 1),
 ('using', 2),
 ('very', 1),
 ('via', 4),
 ('vickyfilmydev', 1),
 ('video', 2),
 ('view', 1),
 ('visit', 2),
 ('vlslt', 1),
 ('vs', 1),
 ('waiting', 1),
 ('wan', 1),
 ('want', 2),
 ('was', 5),
 ('way', 2),
 ('we', 23),
 ('website', 1),
 ('wed', 5),
 ('week', 1),
 ('well', 9),
 ('went', 1),
 ('were', 9),
 ('weve', 1),
 ('what', 5),
 ('whats', 1),
 ('when', 5),
 ('where', 2),
 ('which', 1),
 ('while', 2),
 ('will', 6),
 ('windows', 1),
 ('with', 6),
 ('within', 1),
 ('wj', 4),
 ('work', 1),
 ('working', 1),
 ('worst', 1),
 ('written', 1),
 ('wrong', 2),
 ('wyour', 1),
 ('year', 2),
 ('you', 60),
 ('youd', 2),
 ('your', 33),
 ('youre', 2),
 ('yourself', 1),
 ('yp', 2),
 ('zesaiyan', 1),
 ('\u200bhey', 1),
 ('😊', 1),
 ('😌', 1),
 ('😷😷', 1),
 ('🙋', 1)]

In [44]:
## Converting the final Map-reduce output into a pandas data frame
import pandas as pd

MapReduceOutput = pd.DataFrame(countsSorted, columns = ['Tweet_Word' , "Frequency"])
print(MapReduceOutput)
MapReduceOutput.head()

       Tweet_Word  Frequency
0                         73
1               a         25
2              ab          1
3    abhinavsaroj          4
4            able          3
..            ...        ...
603          ​hey          1
604             😊          1
605             😌          1
606            😷😷          1
607             🙋          1

[608 rows x 2 columns]

     Tweet_Word  Frequency
0                       73
1             a         25
2            ab          1
3  abhinavsaroj          4
4          able          3

In [0]:
# Exporting output of Map-Reduce output to an excel file

MapReduceOutput.to_excel(r"C:\Users\saksh\UIC 2020 Spring\Analytics for big data\HW2\Ass2_Mapreduce.xlsx")

In [0]:
# Task 2
# Renaming id_str column to tweet_id in Tweet_sdf - our original Amazon_Responded_Oct05.csv Spark dataframe(before filtering operations) 

Tweet_sdf = Tweet_sdf.withColumnRenamed("id_str", "tweet_id")

In [46]:
# Task 2
#Importing the find_text data as a pandas dataframe and printing its shape

import pandas as pd
find_text = pd.read_csv("/content/find_text.csv") 
find_text.head()
find_text.shape

(53928, 2)

In [47]:
# Task 2
# Converting find_text Pandas Dataframe into Spark RDD Dataframe and printing 10 rows

find_text = find_text.astype(str) # Converting pandas df to string first
find_text_sdf = spark.createDataFrame(find_text)
find_text_sdf.show(10, False) # False allows us to show entire content of the columns

+--------------------+----+
|id_str              |text|
+--------------------+----+
|'793270689780203520'|nan |
|'793281386912354304'|nan |
|'793299404975247360'|nan |
|'793301295255945216'|nan |
|'793315815411978240'|nan |
|'793322306848292864'|nan |
|'793322433625415680'|nan |
|'793365409047023616'|nan |
|'793369654878232577'|nan |
|'793375905280393216'|nan |
+--------------------+----+
only showing top 10 rows

In [48]:
# Task 2
# Applying Left join on find_text_sdf with Tweet_sdf as id_str as our key

left_join = find_text_sdf.join(Tweet_sdf, find_text_sdf.id_str == Tweet_sdf.tweet_id, how='left') # Could also use 'left_outer'
left_join.show()

+--------------------+----+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+--------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+-------+-----+----+---------+-----+----+-----------+
|              id_str|text|            tweet_id|    tweet_created_at|user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|    user_description|       user_location|user_verified|user_followers_count|user_friends_count|     user_created_at|tweet_language|               text_|favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|                text|WeekDay|Month|Date|TimeStamp|  Geo|Year|Create_Date|
+--------------------+----+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+--------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+-------+-----+----+---------+-----+----+-----------+
|'793322306848292864'| nan|'793322306848292864'|Tue Nov 01 05:22:...|      AmazonHelp| 85741735.0|          2225478.0|              11366.0|         False|            792.0|         False|We answer Amazon ...|                 nan|         True|            149571.0|              53.0|Wed Oct 28 04:17:...|            en|@Murtazansp Hello...|           0.0|    False|             Murtazansp|                 7.93e+17|           2908108256.0|          0.0|    False|                 nan|    Tue|  Nov|  01| 05:22:31|+0000|2016|     Nov 01|
|'802611169642983424'| nan|'802611169642983424'|Sat Nov 26 20:33:...|     AsherzMason|715293713.0|            27157.0|              33195.0|         False|             44.0|         False|             22 🇬🇧|                 nan|        False|               553.0|             166.0|Mon Oct 14 23:37:...|            en|@AmazonHelp Can't...|           0.0|    False|             AmazonHelp|                 8.03e+17|             85741735.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:33:09|+0000|2016|     Nov 26|
|'802612367855157249'| nan|'802612367855157249'|Sat Nov 26 20:37:...|      AmazonHelp| 85741735.0|          2226902.0|              11379.0|         False|            794.0|         False|We answer Amazon ...|                 nan|         True|            149675.0|              53.0|Wed Oct 28 04:17:...|            en|@uglybeautyqueen ...|           0.0|    False|        uglybeautyqueen|                 8.03e+17|             35028391.0|          0.0|    False|@uglybeautyqueen ...|    Sat|  Nov|  26| 20:37:54|+0000|2016|     Nov 26|
|'802610799613243392'| nan|'802610799613243392'|Sat Nov 26 20:31:...|  HeLovedGlitter|354190845.0|            47498.0|               2694.0|         False|             11.0|         False|En el Amor con Mi...|            ✨✨✨✨✨✨✨✨|        False|               512.0|             619.0|Sat Aug 13 08:43:...|            en|@AmazonHelp so tr...|           0.0|    False|             AmazonHelp|                 8.03e+17|             85741735.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:31:41|+0000|2016|     Nov 26|
|'802612493830987776'| nan|'802612493830987776'|Sat Nov 26 20:38:...|      missygpnyc| 19739759.0|            17416.0|               5635.0|         False|              6.0|         False|Lewisham Girl, Yo...|                 nan|        False|               207.0|             655.0|Thu Jan 29 22:41:...|            en|@AmazonHelp For n...|           0.0|    False|             AmazonHelp|                 8.03e+17|             85741735.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:38:25|+0000|2016|     Nov 26|
|'793378188416131072'| nan|'793378188416131072'|Tue Nov 01 09:04:...|      AmazonHelp| 85741735.0|          2225496.0|              11366.0|         False|            792.0|         False|We answer Amazon ...|                 nan|         True|            149570.0|              53.0|Wed Oct 28 04:17:...|            en|@imkapsicum about...|           0.0|    False|             imkapsicum|                 7.93e+17|             59156981.0|          0.0|    False|                 nan|    Tue|  Nov|  01| 09:04:35|+0000|2016|     Nov 01|
|'802612002329858049'| nan|'802612002329858049'|Sat Nov 26 20:36:...|      AmazonHelp| 85741735.0|          2226902.0|              11379.0|         False|            794.0|         False|We answer Amazon ...|                 nan|         True|            149675.0|              53.0|Wed Oct 28 04:17:...|            en|@faizanams Hi, so...|           0.0|    False|              faizanams|                 8.03e+17|            837127824.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:36:27|+0000|2016|     Nov 26|
|'802611248890265604'| nan|'802611248890265604'|Sat Nov 26 20:33:...|      AmazonHelp| 85741735.0|          2226916.0|              11379.0|         False|            794.0|         False|We answer Amazon ...|                 nan|         True|            149676.0|              53.0|Wed Oct 28 04:17:...|            en|@mvel4u Sorry to ...|           0.0|    False|                 mvel4u|                 8.03e+17|            432582372.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:33:28|+0000|2016|     Nov 26|
|'802611458504847360'| nan|'802611458504847360'|Sat Nov 26 20:34:...| uglybeautyqueen| 35028391.0|             2267.0|                120.0|         False|              3.0|         False|I love my kids , ...|          Sheffield |        False|               134.0|             157.0|Fri Apr 24 20:23:...|            en|@AmazonUK What ti...|           0.0|    False|               AmazonUK|                      nan|            209004862.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:34:18|+0000|2016|     Nov 26|
|'793393912769576960'| nan|'793393912769576960'|Tue Nov 01 10:07:...|     mybharatraj|902137872.0|             1248.0|                293.0|         False|              2.0|         False|         Mera BHARAT|               India|        False|                50.0|              13.0|Wed Oct 24 16:24:...|            en|@AmazonHelp now a...|           0.0|    False|            mybharatraj|                 7.93e+17|            902137872.0|          0.0|    False|                 nan|    Tue|  Nov|  01| 10:07:04|+0000|2016|     Nov 01|
|'793369654878232577'| nan|'793369654878232577'|Tue Nov 01 08:30:...|      imkapsicum| 59156981.0|              257.0|                 89.0|         False|              0.0|         False|Web-developer, up...|       Mumbai, India|        False|                94.0|              58.0|Wed Jul 22 15:36:...|            en|xtremely annoyed ...|           0.0|    False|                    nan|                      nan|                    nan|          0.0|    False|                 nan|    Tue|  Nov|  01| 08:30:40|+0000|2016|     Nov 01|
|'802611490289291264'| nan|'802611490289291264'|Sat Nov 26 20:34:...|      AmazonHelp| 85741735.0|          2226916.0|              11379.0|         False|            794.0|         False|We answer Amazon ...|                 nan|         True|            149676.0|              53.0|Wed Oct 28 04:17:...|            en|@mvel4u Please do...|           0.0|    False|                 mvel4u|                 8.03e+17|            432582372.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:34:25|+0000|2016|     Nov 26|
|'802610828373594115'| nan|'802610828373594115'|Sat Nov 26 20:31:...|       jackiesic| 37080099.0|            42252.0|               1224.0|         False|            167.0|         False|Fiscal Conservati...|Southeast of Diso...|        False|              6047.0|            5187.0|Fri May 01 23:50:...|            en|@AmazonHelp On ch...|           0.0|    False|             AmazonHelp|                 8.03e+17|             85741735.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:31:47|+0000|2016|     Nov 26|
|'793382930085253121'| nan|'793382930085253121'|Tue Nov 01 09:23:...|      AmazonHelp| 85741735.0|          2225534.0|              11367.0|         False|            795.0|         False|We answer Amazon ...|                 nan|         True|            149573.0|              53.0|Wed Oct 28 04:17:...|            en|@mybharatraj Hi! ...|           0.0|    False|            mybharatraj|                 7.93e+17|            902137872.0|          0.0|    False|@mybharatraj Hi! ...|    Tue|  Nov|  01| 09:23:25|+0000|2016|     Nov 01|
|'793379112685568000'| nan|'793379112685568000'|Tue Nov 01 09:08:...|     mybharatraj|902137872.0|             1248.0|                293.0|         False|              2.0|         False|         Mera BHARAT|               India|        False|                50.0|              13.0|Wed Oct 24 16:24:...|            en|@amazonIN it is r...|           0.0|    False|               amazonIN|                      nan|           1282946089.0|          0.0|    False|                 nan|    Tue|  Nov|  01| 09:08:15|+0000|2016|     Nov 01|
|'802611878274809856'| nan|'802611878274809856'|Sat Nov 26 20:35:...|      christesla|174427901.0|             5793.0|               2114.0|         False|             32.0|         False|Director of @Cybe...|           Liverpool|        False|               702.0|             918.0|Tue Aug 03 22:26:...|            en|@AmazonUK what ti...|           0.0|    False|               AmazonUK|                      nan|            209004862.0|          0.0|    False|@AmazonUK what ti...|    Sat|  Nov|  26| 20:35:58|+0000|2016|     Nov 26|
|'802611248424751104'| nan|'802611248424751104'|Sat Nov 26 20:33:...|      AmazonHelp| 85741735.0|          2226916.0|              11379.0|         False|            794.0|         False|We answer Amazon ...|                 nan|         True|            149676.0|              53.0|Wed Oct 28 04:17:...|            en|@Jonny_Winter I'm...|           0.0|    False|           Jonny_Winter|                 8.03e+17|             90684338.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:33:28|+0000|2016|     Nov 26|
|'802611489521733632'| nan|'802611489521733632'|Sat Nov 26 20:34:...|      AmazonHelp| 85741735.0|          2226916.0|              11379.0|         False|            794.0|         False|We answer Amazon ...|                 nan|         True|            149676.0|              53.0|Wed Oct 28 04:17:...|            en|@mvel4u Request y...|           0.0|    False|                 mvel4u|                 8.03e+17|            432582372.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:34:25|+0000|2016|     Nov 26|
|'802611347338850304'| nan|'802611347338850304'|Sat Nov 26 20:33:...|        HoopRobe|628477747.0|             8265.0|               2200.0|         False|              0.0|         False|views are not my ...|Vancouver, Britis...|        False|               193.0|             154.0|Fri Jul 06 15:29:...|            en|@AmazonHelp 'Amaz...|           0.0|    False|             AmazonHelp|                 8.03e+17|             85741735.0|          0.0|    False|                 nan|    Sat|  Nov|  26| 20:33:51|+0000|2016|     Nov 26|
|'793381418395136000'| nan|'793381418395136000'|Tue Nov 01 09:17:...| praveen_pandey_|110354554.0|              408.0|                  3.0|         False|              1.0|         False|                 nan|                 nan|        False|                52.0|              37.0|Mon Feb 01 07:21:...|            en|@AmazonHelp yster...|           0.0|    False|             AmazonHelp|                      nan|             85741735.0|          0.0|    False|                 nan|    Tue|  Nov|  01| 09:17:25|+0000|2016|     Nov 01|
+--------------------+----+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+--------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+-------+-----+----+---------+-----+----+-----------+
only showing top 20 rows

In [49]:
# making sure the number of rows in joined dataframe is same as the original find_text dataframe
left_join.count()

53928

In [50]:
# Task 2
# Selecting id_str and text_ from the joined Dataframe left_join

left_join_out = left_join.select(left_join.id_str, left_join.text_)
left_join_out.show(20, False)

+--------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------+
|id_str              |text_                                                                                                                                                     |
+--------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------+
|'793552243689676800'|@AmazonHelp amazon have made and admitted to a series of error that have impacted a myself and a colleague                                                |
|'793595479116439552'|@SuNoSuKo Please don't provide your order details we consider them as personal info. Our twitter page is visible to public. ^VM                           |
|'793751757247619072'|@aasifkhan Hey, I'm sorry for this. Product should reach the fulfillment center, when it does the refund will be issued. ^AA                              |
|'793788930361556996'|@AmazonHelp I would get more assistance from the dead than from AmazonUK                                                                                  |
|'793797330310983680'|Disgusting service @amazonIN
Products are not getting delivered at door step instead getting call from delivery boy to collect from bus stop             |
|'793819060505108480'|@Joe_Twells1 Sorry about that! Please try this Contact Us link for the UK: https://t.co/qy3J24VGxb. ^LS                                                   |
|'793828605746896897'|Made an order using @AmazonUK Prime last Wednesday. Waited in for it all day Saturday as it was 'being delivered today'. It's just arrived 😑             |
|'793899985444241408'|@JohnnyHeatrock Hey, thanks for reaching out. You should find some helpful information about this offer here: https://t.co/hb0WbW7w9l ^PF                 |
|'793903133462331392'|@mrniceguy1987 Please keep us posted with the arrival of your order. We want to make sure it gets to you. ^GL                                             |
|'793904094595444736'|@AmazonHelp will do                                                                                                                                       |
|'793920564628955137'|@AmazonHelp need help with fire stick. There's nothing on network settings. Tried to call but users on phone useless https://t.co/x72TzjatGj              |
|'793923389203316736'|@magicwaz Sorry for the delays. Have you received any emails recently explaining the extensions? ^BG                                                      |
|'794220779768451072'|@AmazonHelp I could see it is available from the same seller, yet i am being denied for a replacement.
myphone : +91-7899888859. https://t.co/UQj7S9AEYg|
|'794263348447678464'|@Nikki_Revak I'm sorry your FireTV Stick isn't working.Can you tell us what's happening? Have you restarted it: https://t.co/8hGwd2KfmD? ^KD              |
|'794279214388285440'|@samthejewishguy Sorry to hear this! You can find refund/replacement options here:  https://t.co/Y5jpI9gRhE. ^MT                                          |
|'794280604221276160'|@jesskatopps Sorry for this. For help on how to change the language please look here: https://t.co/cha8S78HwI ^GE                                         |
|'794305189926858753'|@AmazonHelp my package was supposed to arrive tomorrow, but now it's set back until the 9th . Very frustrating.                                           |
|'794314585608167425'|@KrishnaNand162 Hi, I'm afraid we'll not be able to provide any further insight with your concern. 1/2 ^MJ                                                |
|'794565369084186625'|@shiv_iipm Please don't provide your details, as we consider it to be personal information. Our Twitter page is visible to the public. ^AM                |
|'794648919720493061'|@_Balaji_ Hi there, for us to assist you better please reach us via https://t.co/4hcVq1YXsB &gt; Select the issue &gt; choose phone &gt; (1/2)            |
+--------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [51]:
# Converting the Spark dataframe into pandas

join_output = left_join_out.select("*").toPandas()
print(join_output)

                     id_str                                              text_
0      '793552243689676800'  @AmazonHelp amazon have made and admitted to a...
1      '793595479116439552'  @SuNoSuKo Please don't provide your order deta...
2      '793751757247619072'  @aasifkhan Hey, I'm sorry for this. Product sh...
3      '793788930361556996'  @AmazonHelp I would get more assistance from t...
4      '793797330310983680'  Disgusting service @amazonIN\r\nProducts are n...
...                     ...                                                ...
53923  '809401768211685376'  @AmazonVideoIN Censored content, no support fo...
53924  '809412394212466689'  @AmazonHelp @rathipoonam please share details,...
53925  '809449404801421314'  @SlapdashGourmet We'd like to help. Are all it...
53926  '809513226144804864'  @deecaltee When did you reach out to the selle...
53927  '809729921320882179'  @engeetham Hi, sorry for the long stretch. We'...

[53928 rows x 2 columns]

In [0]:
#Exporting the find_text output with id_str and tweet text into an excel file
join_output.to_excel(r"C:\Users\saksh\UIC 2020 Spring\Analytics for big data\HW2\find_text_output.xlsx")